@{
    var NewsAboutUS = ViewBag.NewsAboutUS as List<NewsDetailViewModel>;
    var Activity = ViewBag.activity as List<NewsDetailViewModel>;
    //var NewsAtive = ViewBag.NewsAtive as List<NewsDetailViewModel>;
    var websiteSetting = ViewBag.WebsiteSetting as WebsiteSetting;
    var url = "https://websitefile.ghmsoft.vn/";
}
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 titlebar">
                <h2>@(!string.IsNullOrEmpty(ViewBag.NewsAboutUS?.Title) ? ViewBag.NewsAboutUS?.Title : "VỀ CHÚNG TÔI")</h2>
            </div>
        </div>
        <div id="tabs-holder" class="row">
            <div class="col-md-6">
                <div class="tab-content">
                    <div id="tab_1" class="tab-pane active">
                        <p>@(!string.IsNullOrEmpty(ViewBag.NewsAboutUS?.Content) ? Html.Raw(ViewBag.NewsAboutUS?.Content) : "error")</p>

                    </div>

                </div>
            </div>
            <div class="col-md-6 text-center animated fadeInRight visible cm-mgt-35" data-animation="fadeInRight" data-animation-delay="600">
                <img class="img-responsive" src="@(ViewBag.NewsAboutUS != null && !string.IsNullOrEmpty(ViewBag.NewsAboutUS.FeatureImage) ? $"{url}{ViewBag.NewsAboutUS.FeatureImage}" : "")"
                     alt="@(!string.IsNullOrEmpty(ViewBag.NewsAboutUS?.AltImage) ? ViewBag.NewsAboutUS?.AltImage :"about-image")"
                     onerror="this.src='/images/no-image.png'" />
            </div>
        </div>
    </div>
</section>
<section id="opertationStatement">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="titlebar">
                    <h2>@(!string.IsNullOrEmpty(ViewBag.Activity?.Title) ? ViewBag.Activity?.Title : "TUYÊN NGÔN HOẠT ĐỘNG")</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div id="accordion-holder" class="row">
            <div class="col-md-6 text-center animated fadeInLeft visible" data-animation="fadeInLeft" data-animation-delay="600">
                @*<img class="img-responsive" src="/images/tuyenngon.png" alt="our-philosophy-image">*@
                <img class="img-responsive" src="@(ViewBag.Activity != null && !string.IsNullOrEmpty(ViewBag.Activity.FeatureImage) ? $"{url}{ViewBag.Activity.FeatureImage}" : "")"
                     alt="@(!string.IsNullOrEmpty(ViewBag.Activity?.AltImage) ? ViewBag.Activity?.AltImage :"our-philosophy-image")"
                     onerror="this.src='/images/no-image.png'" />
            </div>
            
            <div class="col-md-6">
                <div class="panel-group" id="accordion">
                    @(!string.IsNullOrEmpty(ViewBag.Activity?.Content) ? Html.Raw(ViewBag.Activity?.Content) : "error")
                </div>
            </div>
        </div>
    </div>
</section>

