@{
    var listMenuProduct = ViewBag.MenuProduct as List<MenuItemViewModel>;
    var url = "https://websitefile.ghmsoft.vn/";
}

<section id="blog">
    <div class="container">
        <div class="row">
            <div class="col-md-12 titlebar">               
                <h2>SẢN PHẨM</h2>
            </div>
        </div>
        @if (listMenuProduct != null && listMenuProduct.Any())
        {
    <div class="row">
        @foreach (var item in listMenuProduct)
        {
            <div class="col-md-4 animated fadeInUp visible" data-animation="fadeInUp" data-animation-delay="500">
                <article>
                    <div class="blog-post-img">
                        <a href="@( $"{(item.Url == "/" ? "/" : string.IsNullOrEmpty(item.Url) ? "/" + item.NamePath : item.Url)}")" title="@item.Name">
                            @*<img class="img-responsive lazy" src="@($"/image?url={(string.IsNullOrEmpty(item.Image) ? "/images/no-image.png" : $"{url}{item.Image}")}&width=48&height=27")" />*@
                            <img style="width:250px;height:250px" class="img-responsive" src="@(!string.IsNullOrEmpty(item.Image)? $"{url}{item.Image}" : "")"
                                 onerror="this.src='/images/no-image.png'" />

                        </a>
                    </div>
                    <div class="blog-post-titlebar">
                        <h4>
                            <a href="@( $"{(item.Url == "/" ? "/" : string.IsNullOrEmpty(item.Url) ? "/" + item.NamePath : item.Url)}")"
                               class="transition" title="@item.Name">
                                @item.Name @item.ParentName
                            </a>
                        </h4>
                    </div>                    
                </article>
            </div>
        }
            @*<div id="blog_post_2" class="col-md-4 animated fadeInUp visible" data-animation="fadeInUp" data-animation-delay="700">
                <article>
                    <div class="video-block">
                        <iframe width="853" height="480" src="http://www.youtube.com/embed/XSo4JQnm8Bw?rel=0"></iframe>
                    </div>
                    <div class="blog-post-titlebar">
                        <h4>Aliquam varius fringilla imperdiet etiam mollis</h4>
                    </div>
                    <div class="blog-post-info">
                        September 12, 2014 / <a href="#" title="comments">25 Comments</a>
                    </div>
                    <div class="blog-post-desc">
                        <p>
                            Integer at lacus hendrerit vestibulum in curabitur pulvinar tellus vitae sollicitudin pretium
                            aenean pellentesque in lobortis sodales pharetra
                        </p>
                    </div>
                    <a class="btn btn-theme" href="#">Read more <i class="fa fa-angle-double-right"></i></a>
                </article>
            </div>
            <div id="blog_post_3" class="col-md-4 animated fadeInUp visible" data-animation="fadeInUp" data-animation-delay="900">
                <article>
                    <div class="blog-post-img">
                        <img class="img-responsive" src="images/img8.jpg" alt="Blog Image">
                    </div>
                    <div class="blog-post-titlebar">
                        <h4>Etiam mollis est sit amet risus congue aliquam</h4>
                    </div>
                    <div class="blog-post-info">
                        August 16, 2014 / <a href="#" title="comments">8 Comments</a>
                    </div>
                    <div class="blog-post-desc">
                        <p>
                            Integer at lacus hendrerit vestibulum in curabitur pulvinar tellus vitae sollicitudin pretium
                            aenean pellentesque in lobortis sodales pharetra
                        </p>
                    </div>
                    <a class="btn btn-theme" href="#">Read more <i class="fa fa-angle-double-right"></i></a>
                </article>
            </div>*@
        </div>
        }
        </div>
    </section>