@*@{
        var listPhoto = ViewBag.AlbumViewModel as List<AlbumWithItemViewModel>;
        var listAlbum = ViewBag.ListAlbum as List<AlbumViewModel>;
    }
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="titlebar">
                        <h3>@Resource.LibraryImage</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div id="gallery-filter" class="col-xs-12 text-center">
                    <div class="btn-toolbar">
                        <div class="btn-group">
                            <span class="filter btn active" data-filter="all">All</span>
                            @if (listPhoto != null && listPhoto.Any())
                            {
                                @foreach (var album in listPhoto)
                                {
                                    <span class="filter btn" data-filter="@album.SeoLink">@album.Title</span>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                @if (listPhoto != null && listPhoto.Any())
                {
                    @foreach (var album in listPhoto)
                    {
                        @if (album.AlbumItems != null && album.AlbumItems.Any())
                        {
                            @foreach (var photo in album.AlbumItems.Take(3))
                            {
                                <ul class="portfolio-items-list cm-pdl-0">
                                    <li class="col-xs-6 col-sm-4 col-md-3 portfolio-item @album.SeoLink web mix_all" data-cat="2" style=" display: inline-block; opacity: 1;">
                                        <div class="hover-overlay">
                                            <partial name="_PhotoItem" model="photo" />
                                        </div>
                                    </li>
                                </ul>
                            }
                        }
                     }
                }

            </div>
        </div>
    </section>*@

@{
    var listVideo = ViewBag.ListVideoHomePage as List<VideoViewModel>;
    var listPhoto = ViewBag.ListPhoto as List<AlbumItemViewModel>;
   var url = "https://websitefile.ghmsoft.vn/";
}

<div id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="titlebar">Thư viện ảnh và video</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="image">
                    <h2 class="titlebar">Thư viện ảnh</h2>
                    <div id="imageSlider" class="carousel slide" data-ride="carousel" data-interval="6000">
                        <div class="carousel-inner" role="listbox">
                            @if (listPhoto != null && listPhoto.Any())
                            {
                                <div class="carousel-inner" role="listbox">
                                    @{
                                        var x = 1;
                                        foreach (var photo in listPhoto)
                                        {
                                            <div class="@(string.Format("item {0}", x == 1? "active" : ""))">
                                                <a href="@(string.IsNullOrEmpty(photo.Thumbnail)? "/images/no-image.png" :$"{url}{photo.Thumbnail}")" title="@photo.Title" data-fancybox="gallery">
                                                    <img class="img-responsive" src="@(string.IsNullOrEmpty(photo.Thumbnail) ? "/images/no-image.png" : $"{url}{photo.Thumbnail}")"
                                                         onerror="this.src='/images/no-image.png'"
                                                         alt="@photo.Title" />
                                                    
                                                </a>
                                                <div class="carousel-caption" role="option">
                                                    <p>
                                                        @photo.Title
                                                    </p>
                                                </div>
                                            </div>
                                            x++;
                                        }
                                    }
                                </div>
                            }
                        </div>
                        @if (listPhoto != null && listPhoto.Count() > 1)
                        {
                            <a class="left carousel-control" href="#imageSlider" role="button" data-slide="prev">
                                <i class="fa fa-angle-left" aria-hidden="true"></i>
                            </a>
                            <a class="right carousel-control" href="#imageSlider" role="button" data-slide="next">
                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                            </a>
                        }
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="video">
                    <h2 class="titlebar">Thư viện video</h2>
                    <div id="videoCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
                        @if (listVideo != null && listVideo.Any())
                        {
                            <div class="carousel-inner" role="listbox">
                                @{
                                    var i = 1;
                                    foreach (var video in listVideo)
                                    {
                                        <div class="@(string.Format("item {0}", i == 1? "active" : ""))">
                                            <a title="@video.Title"
                                               data-fancybox href="@video.Url">
                                                <img src="@(string.IsNullOrEmpty(video.Thumbnail) ? "/images/no-image.png" : $"{url}{video.Thumbnail}")"
                                                     onerror="this.src='/images/no-image.png'"
                                                     alt="@video.Title" class="img-responsive lazy" />
                                                <span class="duration_video"><i class="fa fa-play"></i></span>
                                            </a>
                                            <div class="carousel-caption" role="option">
                                                <p>
                                                    @video.Title
                                                </p>
                                            </div>
                                        </div>
                                        i++;
                                    }
                                }
                            </div>
                        }
                        @if (listVideo != null && listVideo.Count > 1)
                        {
                            <a class="left carousel-control" href="#videoCarousel" role="button" data-slide="prev">
                                <i class="fa fa-angle-left" aria-hidden="true"></i>
                            </a>
                            <a class="right carousel-control" href="#videoCarousel" role="button" data-slide="next">
                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                            </a>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
