@{
    var websiteSetting = ViewBag.WebsiteSetting as WebsiteSetting;
    var listBranch = ViewBag.BranchContacts as List<BranchContactSearchViewModel>;
    var listSocialNetWork = ViewBag.SocialNetwork as List<SocialNetworkViewModel>;
    var listMenuItem = ViewBag.FooterMenuNav as List<MenuItemViewModel>;
    var listBrand = ViewBag.ListBrands as List<BrandSearchViewModel>;
}
<div id="wrap-root">
    <ul>
        @if (websiteSetting.Fanpage != null)
        {
        <li>
            @if (ViewBag.DeviceType == "desktop")
            {
            }
            else
            {
                <!-- Load Facebook SDK for JavaScript -->
                <div id="fb-root"></div>
                <!-- Your Chat Plugin code -->
                <div class="fb-customerchat"
                     attribution=setup_tool
                     page_id="101230188409310"
                     theme_color="#0A7CFF"
                     logged_in_greeting="Chào mừng bạn ! RogerVN chuyên cung cấp sản phẩm mô hình các loại !"
                     logged_out_greeting="Chào mừng bạn ! RogerVN chuyên cung cấp sản phẩm mô hình các loại !">
                </div>
                <script src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.9"></script>
            }
        </li>
        }
        @if (websiteSetting.ZaloId != null)
        {
            <li>
                <div id="zalo-root">
                    <div class="zalo-chat-widget" data-oaid="@websiteSetting.ZaloId" data-welcome-message="Rất vui khi được hỗ trợ bạn!" data-autopopup="0" data-width="500" data-height="500"></div>
                    <script src="https://sp.zalo.me/plugins/sdk.js"></script>
                </div>
            </li>
        }
        <li>
            <a href="javascript://" id="backToTop">
                <i class="fa fa-angle-up fa-2x"></i>
            </a>
        </li>
    </ul>
</div>
<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 logo">
                <a href="/" title="@websiteSetting?.Brand">
                    @*$"{ViewBag.Url}{websiteSetting.Logo}"*@
                    <img class="img-responsive lazy" data-src="@(websiteSetting != null && !string.IsNullOrEmpty(websiteSetting.Logo) ? $"/image?url={ViewBag.Url}{websiteSetting.Logo}" : "/images/facion/logo.png" )"
                         alt="@(websiteSetting != null && !string.IsNullOrEmpty(websiteSetting?.Brand) ? websiteSetting?.Brand : ViewBag.Title)" />
                </a>
                <ul class="list-inline">
                    @if (listSocialNetWork != null && listSocialNetWork.Any())
                    {
                        @foreach (var socialNetwork in listSocialNetWork)
                        {
                            <li class="list-items">
                                <a href="@socialNetwork.Url" class="btn-scocial">
                                    @if (!string.IsNullOrEmpty(socialNetwork.Icon))
                                    {
                                        <i class="fa @(socialNetwork.Icon)"></i>
                                    }
                                </a>
                            </li>
                        }
                    }
                </ul>
            </div>
            <div class="col-sm-4 short-link">
                <h3 class="title">
                    @Resource.Contact
                </h3>
                <ul>
                    @if (listBranch != null && listBranch.Any())
                    {
                        foreach (var branchs in listBranch?.Where(x => x.IsOffice.HasValue && x.IsOffice.Value))
                        {
                            <li><i class="fa fa-map-marker"> </i>@branchs?.Address</li>
                            <li><i class="fa fa-phone"> </i>@websiteSetting.Hotline</li>
                            @if (branchs.BranchContactDetails != null && branchs.BranchContactDetails.Any())
                            {
                                @foreach (var branchItem in branchs.BranchContactDetails)
                                {
                                    switch (branchItem.ContactType)
                                    {
                                        case ContactType.Email:
                                            <li class="">
                                                <i class="fa fa-envelope"></i>
                                                <a href="mailto:@branchItem.ContactValue">@branchItem.ContactValue</a>
                                            </li>
                                            break;
                                        default:
                                            break;
                                    }
                                }
                            }
                            <li><a href="/"><i class="fa fa-language"> www.rogervn.com</i></a></li>
                        }
                    }
                </ul>
            </div>
            <div class="col-sm-4">
                @if (websiteSetting.Fanpage != null)
                {
                    @if (ViewBag.DeviceType == "desktop")
                    {
                        <div>
                            <!-- Page plugin's width will be 190px -->
                            <div class="fb-page" data-href="@websiteSetting.Fanpage" data-width="420"></div>
                        </div>
                    }
                    else
                    {
                        <div>
                            <!-- Page plugin's width will be 190px -->
                            <div class="fb-page" data-href="@websiteSetting.Fanpage" data-width="320"></div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</footer>
<div class="copy-right center">
    Copyright - @DateTime.Now.Year  RogerVN - Chuyên mô hình tại Việt Nam
</div>