@{
    var websiteSetting = ViewBag.WebsiteSetting as WebsiteSetting;
    var absoluteUri = $"{Context.Request.Scheme}://{Context.Request.Host}{Context.Request.Path}{Context.Request.QueryString}";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="@(websiteSetting != null && !string.IsNullOrEmpty(websiteSetting.Favicon) ? $"{ViewBag.Url}/{websiteSetting.Favicon}" : "/favicon.ico")" type="image/x-icon">
    <link rel="alternate" href="@absoluteUri" hreflang="vi-VN" />
    <link rel="canonical" href="@absoluteUri" />
    <meta name="author" content="jadespa jadespa.vn">
    <meta property="url" content="@absoluteUri" />
    <meta name="keywords" content="@(websiteSetting != null && string.IsNullOrEmpty(ViewBag.Keyword) ? websiteSetting.MetaKeyword : ViewBag.Keyword)">
    <meta property="type" content="article" />
    <meta property="title" content="@(websiteSetting != null && string.IsNullOrEmpty(ViewBag.MetaTitle) ? websiteSetting.MetaTitle : ViewBag.MetaTitle)" />
    <meta name="description" content="@(websiteSetting != null && string.IsNullOrEmpty(ViewBag.Description) ? websiteSetting.MetaDescription
                                         : Common.SubString(ViewBag.Description, 300))" />
    <!-- for facebook -->
    <meta property="og:url" content="@absoluteUri" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="@(websiteSetting != null && string.IsNullOrEmpty(ViewBag.MetaTitle) ? websiteSetting.MetaTitle : ViewBag.MetaTitle)" />
    <meta property="og:description" content="@(websiteSetting != null && string.IsNullOrEmpty(ViewBag.Description) ? websiteSetting.MetaDescription
                                         : Common.SubString(ViewBag.Description, 300))" />
    <meta property="og:image" content="@(websiteSetting != null && string.IsNullOrEmpty(ViewBag.Image) ? websiteSetting.Logo : ViewBag.Image)" />
    <!-- Schema.org markup for Google+ -->
    <meta itemprop="name" content="@(websiteSetting != null && string.IsNullOrEmpty(ViewBag.MetaTitle) ? websiteSetting.MetaTitle : ViewBag.MetaTitle)">
    <meta itemprop="description" content="@(websiteSetting != null && string.IsNullOrEmpty(ViewBag.Description) ? websiteSetting.MetaDescription
                                         : Common.SubString(ViewBag.Description, 300))">
    <meta itemprop="image" content="@(websiteSetting != null && string.IsNullOrEmpty(ViewBag.Image) ? websiteSetting.Logo : ViewBag.Image)">
    <!-- for Twitter -->
    <meta name="twitter:url" content="@absoluteUri" />
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="@(websiteSetting != null && string.IsNullOrEmpty(ViewBag.MetaTitle) ? websiteSetting.MetaTitle : ViewBag.MetaTitle)">
    <meta name="twitter:description" content="@(websiteSetting != null && string.IsNullOrEmpty(ViewBag.Description) ? websiteSetting.MetaDescription
                                         : Common.SubString(ViewBag.Description, 300))">
    <meta name="twitter:image" content="@(websiteSetting != null && string.IsNullOrEmpty(ViewBag.Image) ? websiteSetting?.Logo : ViewBag.Image)">
    <meta property="image" content="@(websiteSetting != null && string.IsNullOrEmpty(ViewBag.Image) ? websiteSetting?.Logo : ViewBag.Image)" />
    <title>@(websiteSetting != null && !string.IsNullOrEmpty(websiteSetting?.Brand) && string.IsNullOrEmpty(ViewBag.Title) ? websiteSetting?.Brand : ViewBag.Title)</title>
    @*<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />*@
    @*<link href="/lib/OwlCarousel2-2.3.4/dist/assets/owl.carousel.min.css" rel="stylesheet" />*@
    @*<link href="/lib/OwlCarousel2-2.3.4/dist/assets/owl.theme.default.min.css" rel="stylesheet" />*@
    @*<link rel="stylesheet" href="/lib/font-awesome-4.7.0/css/font-awesome.min.css" />*@
    <link href="~/css/plugins.min.css" rel="stylesheet" />
    @*<link href="~/lib/lightslider/css/lightslider.min.css" rel="stylesheet" />*@
    <link rel="stylesheet" href="~/css/site.min.css" />
</head>
<body>    
    @Html.AntiForgeryToken()
    <partial name="_Header" />
    <div class="body-content">
        @RenderBody()
    </div>
    <partial name="_Footer" />

    <link href="~/lib/toastr/toastr.min.css" rel="stylesheet" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/lib/OwlCarousel2-2.3.4/dist/owl.carousel.min.js"></script>
    <script src="~/lib/knockout/knockout-3.4.2.js"></script>
    <script src="~/lib/lightslider/js/lightslider.es5.min.js"></script>
    <script src="~/lib/jquery.lazy-master/jquery.lazy.es5.min.js"></script>
    <script src="~/js/site.min.js"></script>
    <script src="~/js/viewmodel/contact.viewmodel.min.js"></script>
    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-130493156-3"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-130493156-3');
    </script>
    @if (ViewBag.DeviceType != "desktop")
    {
        <script>
            (function ($) {
                $(document).ready(function () {
                    $('ul.dropdown-menu [data-toggle=dropdown]').on('click', function (event) {
                        event.preventDefault();
                        event.stopPropagation();
                        $(this).parent().siblings().removeClass('open');
                        $(this).parent().toggleClass('open');
                    });
                });
            })(jQuery);
        </script>
    }
    @RenderSection("Scripts", required: false)
    @RenderSection("KnockOut", required: false)

</body>
</html>
