@model ProductSearchViewModel;
@{ 
    var url = ViewBag.Url;
      var culture = System.Globalization.CultureInfo.GetCultureInfo("en-US");
}
@if (Model != null)
{
    <div class="product-item">
        <div class="image-content">
            <a href="@($"/{Model.SeoLink}.html")" title="@Model.Name">
                <img class="news-image zoom img-responsive lazy" data-src="@($"/image?url={(string.IsNullOrEmpty(Model.Thumbnail) ? "/images/no-image.png" : $"{url}{Model.Thumbnail}")}&width=600&height=400")"
                     onerror="this.onerror = null;this.src='/images/no-image.png'"
                     alt="@Model.Name" />
                <span class="img-overlay"></span>
            </a>
        </div>
        <div class="wrap-text-content">
            <div class="title">
                <a href="@($"/{Model.SeoLink}.html")" title="@Model.Name">
                    @(!string.IsNullOrEmpty(@Model.Name) ? Common.SubString(Model.Name, 50) : Model.Name)
                </a>
            </div>            
            <div class="description">
                <span>@Common.SubString(Model.Desciption, 50)</span>
            </div>
            <hr />
            <div class="price">
                <span>@Model.SalePrice?.ToString("N0", culture)</span>
            </div>
            <div class="star">
                @for(var i =1; i<= 5; i++)
                {
                    <i class="la la-star yellow"></i>
                }
            </div>
            <div class="read-more">
                <a href="@($"/{Model.SeoLink}.html")" title="@Model.Name"
                   class="btn btn-main"><i class="la la-arrow-right"></i> @Resource.ViewMore </a>
            </div>
        </div>
    </div>
}
