@{
    var listNewsNewest = ViewBag.ListNewsNewest as List<NewsSearchViewModel>;
}

@if (listNewsNewest != null && listNewsNewest.Any())
{
    <div id="last-block">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h2 class="title">
                       @Resource.RecentBlogs
                    </h2>
                </div>
                @foreach (var news in listNewsNewest)
                {
                    <div class="col-sm-3">
                        <div class="news-container">
                            <h4 class="title">
                                <a href="@($"/{news.SeoLink}.html")" title="@(string.IsNullOrEmpty(news.MetaTitle) ? news.Title : news.MetaTitle)">
                                    @(!string.IsNullOrEmpty(news.Title) ? Common.SubString(news.Title, 100) : news.Title)
                                </a>
                            </h4>
                            <div class="description">
                                @(!string.IsNullOrEmpty(news.Description) ? Common.SubString(news.Description, 150) : news.Description)
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
}
