@{
    var websiteSetting = ViewBag.WebsiteSetting as WebsiteSetting;
    var listBranch = ViewBag.BranchContacts as List<BranchContactSearchViewModel>;
    var officeHeadquarters = listBranch.Where(x => x.IsOffice.Value).FirstOrDefault();
}
<section id="contact-info">
    <div class="container">
        @if (officeHeadquarters != null)
        {

            <div class="row">
                <div class="col-sm-12 titlebar">
                    <h3>@officeHeadquarters.Name</h3>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6 col-md-3 contact-info text-center">
                    <i class="fa fa-map-marker"></i>
                    <h4 class="contact_title">@Resource.Office</h4>
                    <p class="contact_description"> @officeHeadquarters.Address</p>
                </div>

                
                <div class="col-sm-6 col-md-3 contact-info text-center">
                    <i class="fa fa-phone"></i>
                    <h4 class="contact_title">@Resource.PhoneNumber</h4>
                    @foreach (var branchItem in officeHeadquarters.BranchContactDetails)
                    {
                        switch (branchItem.ContactType)
                        {
                            case ContactType.HomePhone:
                                <p class="contact_description"> @branchItem.ContactValue</p>
                            break;
                        }
                    }
                </div>
                <div class="col-sm-6 col-md-3 contact-info text-center">
                    <i class="fa fa-envelope-o"></i>
                    <h4 class="contact_title">Email</h4>
                    @foreach (var branchItem in officeHeadquarters.BranchContactDetails)
                    {
                        switch (branchItem.ContactType)
                        {
                            case ContactType.Email:
                                <a href="mailto:@branchItem.ContactValue">@branchItem.ContactValue</a>
                            break;
                        }
                    }
                </div>
                <div class="col-sm-6 col-md-3 contact-info text-center">
                    <i class="fa fa-clock-o"></i>
                    <h4 class="contact_title">@Resource.WorkTime</h4>
                    <p class="contact_description"> @officeHeadquarters.WorkTime</p>
                </div>
            </div>
        }
    </div>
</section>
<section id="contacts">
    <iframe src="@(websiteSetting != null && !string.IsNullOrEmpty(websiteSetting.GoogleMap) ? websiteSetting.GoogleMap : "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.521597783849!2d105.81547915024359!3d21.01180568593895!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ab7d497c610d%3A0xf47ff80f0a500d9e!2sJade+Spa+%26+Clinic!5e0!3m2!1sen!2s!4v1481097450349")" width="100%" height="360" frameborder="0" style="border:0" allowfullscreen></iframe>
</section>
<section id="contact" style="background-position: 50% 8px;">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <form id="contact-form" class="form-horizontal" data-bind="submit: sendFeedback">                 
                    <div data-bind="attr: {class: isContactNameError() ? 'col-md-6 has-error' : 'col-md-6'}">
                        <input id="contact_full_name" type="text" class="form-control" placeholder="@Resource.FullNamePlaceHolder" value="" data-bind="value: contactName, hasFocus: isContactNameFocus" />
                    </div>
                    <div data-bind="attr: {class: isPhoneNumberError() ? 'col-md-6 has-error' : 'col-md-6'}">
                        <input type="text" class="form-control" placeholder="@Resource.PhoneNumberPlaceHolder" value="" data-bind="value: contactPhoneNumber, hasFocus: isPhoneNumberFocus" />                  
                    </div>
                    <div class="col-md-12" data-bind="attr: {class: isEmailError() ? 'col-md-12 has-error' : 'col-md-12'}">
                        <input type="text" class="form-control" placeholder="@Resource.EmailPlaceHolder" value="" data-bind="value: contactEmail, hasFocus: isEmailFocus" />
                    </div>
                    <div class="col-md-12" data-bind="attr: {class: isContentError() ? 'col-md-12 has-error' : 'col-md-12'}">
                        <textarea type="text" class="form-control" placeholder="@Resource.ContentPlaceHolder" rows="4" data-bind="value: contactContent, hasFocus: isContentFocus"></textarea>
                    </div>
                    <div class="col-md-12">
                        <div class="text-center submit">
                            <button type="submit" class="btn btn-theme" data-bind="enable: !isSendingContact()">
                                <i class="fa fa-send" data-bind="visible: !isSendingContact()"></i>
                                <i class="fa fa-spinner fa-pulse" data-bind="visible: isSendingContact()" style="display: none"></i>
                                Send Message
                            </button>
                        </div>
                    </div>
                </form>      
            </div>
        </div>
    </div>
</section>
@*@section scripts{
    <script type="text/javascript" src="~/js/contact.viewmodel.min.js"></script>
}*@