
<div id="news-introduce">
    <div class="row">
        <div class="col-sm-12">
            <h2 class="center titlebar">
                @Resource.TitleIntroduce
            </h2>        
        </div>
        <div class="col-sm-12">
            <h2 class="descriptionbar">@Resource.DescriptionIntroduce</h2>
        </div>
    </div>
    <div class="row wrap-item">
        <div class="col-sm-3 col-xs-6">
            <div class="item">
                <div class="wrap-image">
                    <img class="news-image zoom img-responsive lazy" data-src="images/introduce/infrastructure.jpg" alt="" />
                </div>
                <div class="wrap-text">
                    <span>@Resource.InfrastructureIntroduce</span>
                </div>
            </div>
        </div>
        <div class="col-sm-3 col-xs-6">
            <div class="item">
                <div class="wrap-image">
                    <img class="news-image zoom img-responsive lazy" data-src="images/introduce/expertTeam.jpg" alt="" />
                </div>
                <div class="wrap-text">
                    <span>@Resource.ExpertTeamIntroductuce</span>
                </div>
            </div>
        </div>
        <div class="col-sm-3 col-xs-6">
            <div class="item">
                <div class="wrap-image">
                    <img class="news-image zoom img-responsive lazy" data-src="images/introduce/equipment.jpg" alt="" />
                </div>
                <div class="wrap-text">
                    <span>@Resource.EquipmentIntroduce</span>
                </div>
            </div>
        </div>
        <div class="col-sm-3 col-xs-6">
            <div class="item">
                <div class="wrap-image">
                    <img class="news-image zoom img-responsive lazy" data-src="images/introduce/service.jpg" alt="" />
                </div>
                <div class="wrap-text">
                    <span>@Resource.ServicesIntroduce</span>
                </div>
            </div>
        </div>
    </div>
</div>
