@{
    var categoryWidthNews = ViewBag.CategoryMiddle as CategoryWidthNewsViewModel;
}
<div id="news-introduce">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="center titlebar">
                    @categoryWidthNews.CategoryName
                </h2>
                <h2 class="descriptionbar">"@($"{categoryWidthNews.Description}")"</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div id="middle-menu-slide" class="hidden-xs hidden-sm hidden-md">
                    @if (categoryWidthNews.ListNews != null && categoryWidthNews.ListNews.Any())
                    {
                        @foreach (var item in categoryWidthNews.ListNews)
                        {
                            <div class="item">
                                <div class="wrap-image zoom">
                                    <a href="@($"{item.SeoLink}.html")">
                                        <img class="news-image img-responsive lazy"
                                             data-src="@($"/image?url={(string.IsNullOrEmpty(item.FeatureImage) ? "/images/no-image.png" : $"{ViewBag.Url}{item.FeatureImage}")}&width=270&height=270")" alt="" />
                                    </a>
                                </div>
                                <div class="wrap-text">
                                    <a href="@($"{item.SeoLink}.html")">@item.Title</a>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
    <div id="wrap-item" class="wrap-item visible-xs visible-sm visible-md">
        <div class="container">
                @if (categoryWidthNews.ListNews != null && categoryWidthNews.ListNews.Any())
                {
                    @foreach (var item in categoryWidthNews.ListNews)
                    {
                        <div class="col-lg-3 col-sm-6 col-xs-6 col-md-6">
                            <div class="item">
                                <div class="wrap-image">
                                    <a href="@($"{item.SeoLink}.html")">
                                        <img class="news-image zoom img-responsive lazy" onerror="this.src='~/images/no-image.png'"
                                             data-src="@($"/image?url={(string.IsNullOrEmpty(item.FeatureImage) ? "/images/no-image.png" : $"{ViewBag.Url}{item.FeatureImage}")}")" alt="" />
                                    </a>
                                </div>
                                <div class="wrap-text">
                                    <a href="@($"{item.SeoLink}.html")">@item.Title</a>
                                </div>
                            </div>
                        </div>
                    }
                }
        </div>
    </div>

</div>