@{
    var listCategoryWidthNew = ViewBag.ListServices as List<CategorySearchViewModel>;
    var url = ViewBag.Url;
}
<div id="news-hot">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="center titlebar">
                    @Resource.TitleHot
                </h2>
            </div>
            <div class="col-sm-12">
                <h2 class="descriptionbar">@Resource.DescriptionHot</h2>
            </div>
        </div>
        @if (listCategoryWidthNew != null && listCategoryWidthNew.Any())
        {
            <div id="news-slider" class="hidden-xs">
                    <partial name="_BlockCategories" model="listCategoryWidthNew" />
            </div>
            <div class="list-items item-hot row visible-xs">
                @foreach (var item in listCategoryWidthNew)
                {
                    <div class="col-sm-6 col-xs-6">
                        <div class="item">
                            <a href="@($"/{ item.SeoLink}.html")">
                                <img class="news-image zoom img-responsive lazy" src="@(string.IsNullOrEmpty(item.BannerImage) ? "/images/no-image.png" : $"{url}{item.BannerImage}")"
                                        onerror="this.src='/images/no-image.png'"/>
                            </a>
                            <a  href="@($"/{ item.SeoLink}.html")" class="text-description">@(string.IsNullOrEmpty(item.Name) ? "No Title" : item.Name)</a>
                        </div>
                    </div>
                }
            </div>
        }
    </div>
</div>
