@model CategoryWidthNewsViewModel;
@{
    var CategoryWidthNews = Model;
    var newsDefault = Model != null && CategoryWidthNews.ListNews.Any() ? Model.ListNews.FirstOrDefault() : null;
    ViewBag.Title = CategoryWidthNews.CategoryName;
    ViewBag.ImageBanner = CategoryWidthNews.BannerImage;
    var totalRows = CategoryWidthNews.TotalNews ?? 0;
    var pageSize = 12;
    var pageSizeMobile = 6;
    var totalPageMobile = Math.Ceiling((double)totalRows / pageSizeMobile);
    var page = ViewBag.Page;
    var totalPage = Math.Ceiling((double)totalRows / pageSize);
    var seoLink = CategoryWidthNews.SeoLink;
    var listNewHot = ViewBag.ListNewsHot as List<NewsSearchViewModel>;
    var breadcrumbs = new List<Breadcrumb>
{
new Breadcrumb()
{Name = CategoryWidthNews.CategoryName,
IsCurrent = true,
},
};
    var url = ViewBag.Url;
    ViewBag.Breadcrumb = breadcrumbs;
}
<partial name="_Breadcumb">
    <div id="category-news">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <partial name="_TitleBar" model="CategoryWidthNews.CategoryName" />
                </div>
                <div class="col-sm-12 cm-mgt-20">
                    <div class="row">
                        @foreach (var news in Model.ListNews)
                        {
                            <div class="col-sm-4">
                                <partial name="_NewsItem" model="news" />
                            </div>
                        }
                    </div>
                    <div class="row">
                        <div class="col-sm-12" style="text-align:center">
                            <ul class="pagination">
                                @if (totalPage > 1)
                                {
                                    <li>
                                        <a class="@(page == 1 ? "disabled" : "")" href="@(page > 1 ? string.Format("{0}?page={1}&pageSize={2}", seoLink, 1, pageSize) : "javascript://")">
                                            <i class="fa fa-angle-double-left"></i>
                                        </a>
                                    </li>
                                    @for (var i = 1; i <= totalPage; i++)
                                    {
                                        <li><a class="@(page == i ? "active" : "")" href="@(string.Format("{0}?page={1}&pageSize={2}", seoLink, i, pageSize))">@i</a></li>
                                    }
                                    <li>
                                        <a class="@(page == totalPage ? "disabled" : "")" href="@(page < totalPage ? string.Format("{0}?page={1}&pageSize={2}", seoLink, totalPage, pageSize) : "javascript://")">
                                            <i class="fa fa-angle-double-right"></i>
                                        </a>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @section scripts {
        <script type="text/javascript">
            var categoryId = @ViewBag.CategoryId;
        </script>
    }
