
@{
    ViewBag.Title = "Gaya";
    var banners = ViewBag.Banner as BannerViewModel;
}
<link href="~/lib/lightslider/css/lightslider.min.css" rel="stylesheet" />
<link href="~/css/less/brand.min.css" rel="stylesheet" />
<partial name="_Breadcumb" />

<div id="gaya">
    <div class="herbs-on-body">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 center cm-mgt-10 cm-mgb-10">
                    <img class="logo" src="~/images/BGR web/Gaya/Gaya_03.jpg" />
                </div>
                <div class="col-sm-12">
                    <div class="instruction">
                        <div class="left-content">
                            <img src="~/images/BGR web/Gaya/Gaya_10.jpg" />
                        </div>
                        <div class="right-content">
                            <img class="img-responsive" src="~/images/BGR web/Gaya/Gaya_07.jpg" />
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 center">
                    <h2 class="title">
                        Túi muối thảo dược Gaya - thư giãn, giảm đau, săn chắc cơ thể
                    </h2>
                    <div class="description">
                        (Tinh hoa thảo dược Thái Lan)
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ingredient">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 center">
                    <div class="title">
                        Túi muối thảo dược Gaya có thành phần 100% từ thảo dược thiên nhiên được tinh chọn và phối trộn theo công thức bí truyền từ Thái Lan. Gaya có mùi thơm dịu nhẹ, bền lâu, cho cảm giác thư thái, nhẹ nhõm.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ingredient-product">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="row images" id="product-image-gaya">
                        <div class="col-sm-12 image-content">
                            <div class="col-xs-6 product-image">
                                <img src="~/images/BGR web/Gaya/Gaya_15.jpg" />
                            </div>
                            <div class=" col-xs-6 product-image">
                                <img src="~/images/BGR web/Gaya/Gaya_17.jpg" />
                            </div>
                            <div class="col-xs-6 product-image">
                                <img src="~/images/BGR web/Gaya/Gaya_20.jpg" />
                            </div>
                            <div class="product-image col-xs-6">
                                <img src="~/images/BGR web/Gaya/Gaya_21.jpg" />
                            </div>
                            <div class="col-xs-6 product-image">
                                <img src="~/images/BGR web/Gaya/Gaya_24.jpg" />
                            </div>
                            <div class="col-xs-6 product-image">
                                <img src="~/images/BGR web/Gaya/Gaya_25.jpg" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="description" id="product-description-gaya">
                        <ul class="list-style-none cm-pdl-0">
                            <li class="list-items">
                                <i class="fa fa-star-o"></i>
                                <span>Chanh thái</span>: Có tác dụng thư giãn, kháng khuẩn
                            </li>
                            <li class="list-items">
                                <i class="fa fa-star-o"></i>
                                <span>
                                    Xả
                                </span>: Thư giãn, kích thích, giảm đau đầu và mệt mỏi, giảm đau nhức, căng cơ.
                            </li>
                            <li class="list-items">
                                <i class="fa fa-star-o"></i>
                                <span>
                                    Lá me
                                </span>: khử trùng, làm mát, giảm cảm lạnh và sốt.

                            </li>
                            <li class="list-items">
                                <i class="fa fa-star-o"></i>
                                <span>
                                    Nghệ
                                </span>: làm giảm sự lo lắng và căng thẳng mệt mỏi, trầm cảm về thể chất và tinh thần, kháng viêm, chống oxy hóa, giảm đau.
                            </li>
                            <li class="list-items">
                                <i class="fa fa-star-o"></i>
                                <span>
                                    Gừng
                                </span>: làm giảm đau cơ bắp, làm giảm sốt, kháng khuẩn, giảm đau, giúp nuôi dưỡng da để cho da cảm giác mịn màng và tươi mát, thư giãn.
                            </li>
                            <li class="list-items">
                                <i class="fa fa-star-o"></i>
                                <span>
                                    Gạo nâu Thái Lan
                                </span>: Kết hợp với các loại thảo dược giúp các cơ hoạt động trơn tru, có tác động như các động tác massage, làm tăng lưu thông máu.
                            </li>
                            <li class="list-items">
                                <i class="fa fa-star-o"></i>
                                <span>
                                    Muỗi biển
                                </span>: muối biển chứa 90-98% natri clorua, 2-10% còn lại là các khoáng chất quan trọng như sắt, ma giê, lưu huỳnh và các nguyên tố vi lượng khác, có tác dụng giảm đau, cung cấp dưỡng chất cần thiết cho da.
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="method-gaya">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h2 class="title">
                        Với công thức bí truyền được kiểm chứng qua hàng trăm năm, GAYA quả thực là bảo bối chăm sóc sức khỏe cho mọi gia đình.
                    </h2>
                </div>
            </div>
            <div class="row">
                <div class="method-item">
                    <div class="col-sm-6 image-active">
                        <img class="img-responsive w100pc" src="~/images/BGR web/Gaya/Gaya_29.jpg" />
                    </div>
                    <div class="col-sm-6 description">
                        <div class="item">
                            <hr />
                            Giúp các mẹ sau sinh hoặc người bị béo phì giảm béo và săn chắc cơ thể: Muối thảo dược sinh nhiệt và giữ nhiệt lâu, góp phần làm tan mỡ, thon gọn và săn chắc cơ thể. Đặc biệt ngăn ngừa và làm giảm tình trạng da bụng chảy sệ sau sinh.

                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="method-item">
                    <div class="col-sm-6 hidden-xs description">
                        <div class="item">
                            <hr />
                            Giảm đau nhức, sưng viêm và lưu thông khí huyết cho người vận động cường độ cao hoặc người cao tuổi; Tác động sinh nhiệt rừ túi thảo dược GAYA giúp ra tăng lưu thông máu, giảm sưng, viêm. Đồng thời giúp các hoạt chất trong thảo dược thẩm thấu sâu qua da  giảm cảm giác đau nhức, mệt mỏi.
                        </div>
                    </div>
                    <div class="col-sm-6 image-active">
                        <img class="img-responsive w100pc" src="~/images/BGR web/Gaya/Gaya_33.jpg" />
                    </div>
                    <div class="col-sm-6 description visible-xs">
                        <div class="item">
                            <hr />
                            Giảm đau nhức, sưng viêm và lưu thông khí huyết cho người vận động cường độ cao hoặc người cao tuổi; Tác động sinh nhiệt rừ túi thảo dược GAYA giúp ra tăng lưu thông máu, giảm sưng, viêm. Đồng thời giúp các hoạt chất trong thảo dược thẩm thấu sâu qua da  giảm cảm giác đau nhức, mệt mỏi.
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="method-item">
                    <div class="col-sm-6 image-active">
                        <img class="img-responsive w100pc" src="~/images/BGR web/Gaya/Gaya_36.jpg" />
                    </div>
                    <div class="col-sm-6 description">
                        <div class="item">
                            <hr />
                            Thư giãn, chống trầm cảm cho người thường xuyên chịu áp lực công việc, sau sinh, Các tinh chất từ chanh, xả và nghệ có tác dụng làm giảm cảm giác lo lắng, bắt an. Kết hợp với mùi hương dịu nhẹ giúp tinh thần và thể chất thư thái trong liệu trình massage.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="product-gaya">
        <div class="container">
            <div class="row cm-mgb-20">
                <div class="col-sm-12 center">
                    <div class="description">
                        Túi muối thảo dược GAYA không chỉ  mang lại công dụng tuyệt vời cho cơ thể mà còn cho thấy sự tinh tế, đam mê của các chuyên gia Thái khi cho ra đời các dòng sản phẩm phù hợp với từng bộ phận trên cơ thể. Đúng với tên gọi GAYA trong tiếng Thái nghĩa là “Cơ thể”.
                    </div>
                </div>
                @if (banners != null)
                {
                    <div class="col-sm-12">
                        <div id="bannerGayaSlider">
                            @foreach (var banner in banners.BannerItems)
                            {
                            <div class="item">
                                <div class="thumbnail-image">
                                    <a href="@banner.Url" title="@banner.Name" class="thumbnail-image">
                                        <img class="img-responsive" src="@($"/image?url={(string.IsNullOrEmpty(banner.Image) ? "/images/no-image.png" : banner.Image)}&width=320&height=180")"
                                             onerror="this.src='/images/no-image.png'"
                                             alt="@banner.Name" />
                                    </a>
                                </div>
                                <div class="product-name">
                                    @banner.Name
                                </div>
                            </div>
                            }
                        </div>
                    </div>
                }
                <div class="col-sm-12 center cm-mgt-20">
                    <a class="btn btn-view-more" href="http://jadespa.vn/san-pham/gaya--tui-muoi-thao-duoc.html" target="_blank">
                        @Resource.ViewProduct
                        <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/js/banner.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var windowWidth = $(window).innerWidth();
            var product_image_gaya = $('#product-image-gaya').innerHeight();
            var product_description_gaya = $('#product-description-gaya').innerHeight();
            setTimeout(() => {
                if (windowWidth > 768) {
                    $('#product-description-gaya').css('height', product_image_gaya + 'px');
                    $('.ingredient-product').css('margin-top', -product_image_gaya * 2 / 3 + 'px');
                    $('.ingredient').css('padding-bottom', product_image_gaya * 2 / 3 + 'px');
                    $('.method-gaya').css('margin-top', -product_image_gaya * 1 / 3 + 'px');
                    $('.method-gaya').css('padding-top', product_image_gaya * 1 / 3 + 'px');
                } else {
                    $('.ingredient-product').css('margin-top', -product_image_gaya / 2 + 'px');
                    $('.ingredient').css('padding-bottom', product_image_gaya / 2 + 'px');
                    $('.method-gaya').css('margin-top', -(product_image_gaya / 2 + product_description_gaya) + 'px');
                    $('.method-gaya').css('padding-top', product_image_gaya / 2 + product_description_gaya + 'px');
                }
            }, 200)

            $("#bannerGayaSlider").lightSlider({
                item: 4,
                auto: true,
                loop: true,
                slideMove: 1,
                speed: 1500,
                pause: 3000,
                slideEndAnimation: false,
                slideMargin: 10,
                pauseOnHover: false,
                controls: true,
                prevHtml: '<i class="fa fa-chevron-left" aria-hidden="true"></i>',
                nextHtml: '<i class="fa fa-chevron-right" aria-hidden="true"></i>',
                pager: false,
                responsive: [
                    {
                        breakpoint: 800,
                        settings: {
                            item: 3,
                            slideMove: 1
                        }
                    },
                    {
                        breakpoint: 480,
                        settings: {
                            item: 2,
                            slideMove: 1
                        }
                    }
                ]
            });
        })
    </script>
}
