@model NewsSearchViewModel
@if (Model != null)
{
    <div class="news-item">
        <div class="title">
            <a href="@($"/{ Model.SeoLink}.html")" title="@(string.IsNullOrEmpty(Model.MetaTitle) ? Model.Title : Model.MetaTitle)">
                @(!string.IsNullOrEmpty(Model.Title) ? Common.SubString(Model.Title, 100) : Model.Title)
            </a>
        </div>
        @*<p class="datetime"><i class="fa fa-clock-o"></i>@Model.CreateTime.ToString("MMMM d, yyyy")</p>*@
        @if (!string.IsNullOrEmpty(Model.FeatureImage))
        {
            <div class="image-content">
                <a href="@($"/{Model.SeoLink}.html")" title="@(string.IsNullOrEmpty(Model.MetaTitle) ? Model.Title : Model.MetaTitle)">
                    <img class="news-image zoom img-responsive lazy" data-src="@($"/image?url={(string.IsNullOrEmpty(Model.FeatureImage) ? "/images/no-image.png" : Model.FeatureImage)}&width=480&height=360")"
                         onerror="this.src='/images/no-image.png'"
                         alt="@(string.IsNullOrEmpty(Model.AltImage) ? Model.Title : Model.AltImage)" />
                </a>
            </div>
        }
        @if (!string.IsNullOrEmpty(Model.Description))
        {
            <div class="summary">
                @(Common.SubString(Model.Description, 140))
            </div>
        }
    </div>
}
