
@{
    var eventInfo = ViewBag.EventInfo as EventShowClientViewModel;
    ViewBag.Title = eventInfo?.EventInfo.MetaTitle;
    ViewBag.Description = eventInfo?.EventInfo.MetaDescription;
    var eventDetail = eventInfo?.EventInfo;
    var listEventDay = eventInfo?.EventDays?.OrderBy(x => x.EventDate);

    var imageLibrarys = ViewBag.ImageLibrary as List<AlbumItemViewModel>;
    var imageFirst = imageLibrarys != null && imageLibrarys.Any() ? imageLibrarys.FirstOrDefault() : null;
}

<link href="~/lib/lightslider/css/lightslider.css" rel="stylesheet" />
<link href="~/css/less/event.min.css" rel="stylesheet" />

<div id="event-detail" class="event-detail">
    <partial name="_Youtube" />
    <div class="event-content">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 center">
                    <div class="icon">
                        <i class="fa fa-caret-down" aria-hidden="true"></i>
                    </div>
                    <h2 class="titlebar">
                        @Resource.EventIntroduction
                    </h2>
                    <div class="content">
                        @Html.Raw(eventDetail?.Content)
                    </div>
                </div>
            </div>
        </div>
    </div>
    <partial name="_EventDay" model="eventInfo" />
    <partial name="_Sponsors" model="eventInfo"/>
    @if (imageLibrarys != null && imageLibrarys.Any())
    {
        <div class="image-library">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 center">
                        <div class="icon">
                            <i class="fa fa-caret-down" aria-hidden="true"></i>
                        </div>
                        <h2 class="titlebar">@Resource.EventImage</h2>
                    </div>
                    <div class="col-sm-12">
                        <div class="image-container">
                            <div id="image-library-silder" data-bind="foreach: $root.images()">
                                <div class="item">
                                    <div data-bind="css: { selected :  $root.imageId() === Id}">
                                        <a href="javascript://" data-bind="attr: { title: Title }, click: $root.selectImage" class="thumbnail">
                                            <img class="img-responsive" data-bind="attr: { src: '/image?url=' + Thumbnail + '&width=640&height=360', alt: Title }"
                                                 onerror="this.src='/images/no-image.png'" />
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="img-responsive image-default">
                                <img class="img-responsive w100pc" data-bind="attr: { src: '/image?url=' + imageUrl() + '&width=640&height=360', alt: imageTitle() }"
                                     onerror="this.src='/images/no-image.png'" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    <div class="register-form" id="register-form">
        <div class="container">
            <div class="row content">
                <div class="col-sm-6">
                    <h2 class="title center">
                        @Resource.RegisterNows
                    </h2>
                    <div class="description">
                        @eventDetail?.Description
                    </div>
                    <h2 class="title-time center">@Resource.TimeEvent</h2>
                    <div class="times">
                        <ul class="list-inline">
                            <li class="list-items">
                                @eventDetail?.StartDate?.DayOfWeek
                            </li>
                            <li class="list-items">
                                @eventDetail?.StartDate?.Day
                            </li>
                            <li class="list-items">
                                @eventDetail?.StartDate?.Month
                            </li>
                            <li class="list-items">
                                @eventDetail?.StartDate?.Year
                            </li>
                        </ul>
                    </div>
                    <div class="address">
                        @eventDetail?.Address
                    </div>
                </div>
                <div class="col-sm-6 form">
                    <form class="form-horizontal" id="contact_form" data-bind="submit: register">
                        <div class="form-group" data-bind="attr: {class: isFullNameError() ? 'form-group has-error' : 'form-group'}">
                            <div class="col-xs-12">
                                <input type="text" id="register_full_name" class="form-control w100pc" placeholder="@Resource.FullName *" value="" data-bind="value: fullName, hasFocus: isFullNameFocus" />
                            </div>
                        </div>
                        <div class="form-group" data-bind="attr: {class: isPhoneNumberError() ? 'form-group has-error' : 'form-group'}">
                            <div class="col-xs-12">
                                <input type="text" class="form-control w100pc" placeholder="@Resource.PhoneNumber *" value="" data-bind="value: phoneNumber, hasFocus: isPhoneNumberFocus" />
                            </div>
                        </div>
                        <div class="form-group" data-bind="attr: {class: isEmailError() ? 'form-group has-error' : 'form-group'}">
                            <div class="col-xs-12">
                                <input type="text" class="form-control w100pc" placeholder="Email *" value="" data-bind="value: email, hasFocus: isEmailFocus" />
                            </div>
                        </div>
                        <div class="form-group" data-bind="attr: {class: isAddressError() ? 'form-group has-error' : 'form-group'}">
                            <div class="col-xs-12">
                                <textarea type="text" class="form-control w100pc" placeholder="@Resource.Address *" rows="4" data-bind="value: address, hasFocus: isAddressFocus"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12 list-event-day">
                                <ul class="list-inline">
                                    <!--ko foreach: listEventDay-->
                                    <li>
                                        <a href="javascript://" data-bind="click: $root.selectEventDay.bind($data)">
                                            <!--ko if: $root.eventDays.indexOf(Id) === -1-->
                                            <i class="fa fa-square-o" aria-hidden="true"></i>
                                            <!--/ko-->
                                            <!--ko if: $root.eventDays.indexOf(Id) !== -1-->
                                            <i class="fa fa-check-square" aria-hidden="true"></i>
                                            <!--/ko-->
                                            @Resource.Day <span data-bind="text: $index()+1"></span>
                                        </a>
                                    </li>
                                    <!--/ko-->
                                    <li>
                                        <a href="javascript://" data-bind="click: $root.checkAllEventDay">
                                            <!--ko if: !$root.isCheckAllDay()-->
                                            <i class="fa fa-square-o" aria-hidden="true"></i>
                                            <!--/ko-->
                                            <!--ko if: $root.isCheckAllDay()-->
                                            <i class="fa fa-check-square" aria-hidden="true"></i>
                                            <!--/ko-->
                                            @Resource.AllCourses
                                        </a>
                                    </li>
                                </ul>

                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12 submit center">
                                <button type="submit" class="btn btn-send-message" data-bind="enable: !isSending()">
                                    <i class="fa fa-spinner fa-pulse" data-bind="visible: isSending()" style="display: none"></i>
                                    @Resource.Register
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/lib/lodash/lodash.min.js"></script>
    <script type="text/javascript">
        var eventId = "@eventDetail?.Id";
        var eventInfo = @(ViewBag.EventInfo != null ? Html.Raw(JsonConvert.SerializeObject(ViewBag.EventInfo)) : "[]");
        var listImage = @(ViewBag.ImageLibrary != null ? Html.Raw(JsonConvert.SerializeObject(ViewBag.ImageLibrary)) : "[]");
    </script>
    <script src="~/js/viewmodel/event-detail.viewmodel.js"></script>
}





