
@{
    Layout = "_LayoutLadingPage";
    var eventInfo = ViewBag.EventInfo as EventShowClientViewModel;
    ViewBag.Title = eventInfo?.EventInfo?.MetaTitle;
    ViewBag.Description = eventInfo?.EventInfo?.MetaDescription;
    var listEventDay = eventInfo?.EventDays?.OrderBy(x => x.EventDate);

    var videos = ViewBag.Videos as List<AlbumItemViewModel>;
    var videoFirst = videos != null && videos.Any() ? videos.FirstOrDefault() : null;
    var listSocialNetWork = ViewBag.SocialNetwork as List<SocialNetworkViewModel>;
    var listBranch = ViewBag.BranchContacts as List<BranchContactSearchViewModel>;
    var branchOffice = listBranch?.Where(x => x.IsOffice.HasValue && x.IsOffice.Value).FirstOrDefault();
    var websiteSetting = ViewBag.WebsiteSetting as WebsiteSetting;
}
<link href="~/lib/lightslider/css/lightslider.css" rel="stylesheet" />
<section id="intro">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div id="intro_content">
                    <h3 class="title">
                        HỘI THẢO & CHUYỂN GIAO CÔNG NGHỆ
                    </h3>
                    <h1>AMIEA PMU</h1>
                    <h2>SỰ KẾT HỢP ĐỘT PHÁ</h2>
                    <div id="clockdiv">
                        <div>
                            <span class="days" data-bind="text: day()"></span>
                            <div class="smalltext">@Resource.Date</div>
                        </div>
                        <div>
                            <span class="hours" data-bind="text: hours()"></span>
                            <div class="smalltext">@Resource.Hour</div>
                        </div>
                        <div>
                            <span class="minutes" data-bind="text: minutes()"></span>
                            <div class="smalltext">@Resource.Minute</div>
                        </div>
                        <div>
                            <span class="seconds" data-bind="text: seconds()"></span>
                            <div class="smalltext">@Resource.Second</div>
                        </div>
                    </div>
                    <h4>
                        14-19 THÁNG 01, 2019 | MÖVENPICK HÀ NỘI
                    </h4>
                    <div class="center">
                        <a class="btn btn-register" id="registerAbout">@Resource.RegisterNows</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<section id="content">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="icon">
                    <i class="fa fa-caret-down" aria-hidden="true"></i>
                </div>
                <h2 class="titlebar">
                    HỘI THẢO PMU – AMIEA 2019
                </h2>
                <div class="content">
                    <p><span>Hội thảo Amiea &ndash; PMU lần đầu ti&ecirc;n được tổ chức tại Việt Nam nằm trong chương tr&igrave;nh đ&agrave;o tạo v&agrave; t&igrave;m kiếm Master đại diện của Amiea tại khu vực Ch&acirc;u &Aacute;. Cũng như mong muốn chia sẻ kinh nghiệm v&agrave; c&aacute;c kỹ thuật mới nhất từ chuy&ecirc;n gia h&agrave;ng đầu của thương hiệu Amiea tới những người đam m&ecirc; về phun xăm thẩm mỹ. Hứa hẹn mang tới trải nghiệm mới mẻ v&agrave; cơ hội trực tiếp sử dụng c&aacute;c thiết bị PMU v&agrave; mực Organic, những sản phẩm mang t&iacute;nh đột ph&aacute; của ng&agrave;nh phun xăm thẩm mỹ.</span></p>
                    <p><span><strong>Bạn sẽ nhận được g&igrave; từ buổi hội thảo&nbsp;</strong></span></p>
                    <ul class="list-style-none">
                        <li><i class="fa fa-check-square-o"></i> <span>Cơ hội trở thành ứng viên nhận được học bổng đ&agrave;o tạo Master trị gi&aacute; 10.000 € với c&aacute;c chuy&ecirc;n gia h&agrave;ng đầu của Amiea tại Đức hoặc Mỹ.</span></li>
                        <li><i class="fa fa-check-square-o"></i> <span>Trở th&agrave;nh Master đại diện Amiea khu vực ch&acirc;u &Aacute;.</span></li>
                        <li><i class="fa fa-check-square-o"></i> <span>Nhận được chứng chỉ từ h&atilde;ng Amiea khi ho&agrave;n th&agrave;nh kh&oacute;a học về phun xăm thẩm mỹ.</span></li>
                        <li><i class="fa fa-check-square-o"></i> <span>Hướng dẫn kỹ thuật hairstroke (khắc sợ bằng m&aacute;y) ti&ecirc;n tiến nhất hiện nay.</span></li>
                        <li><i class="fa fa-check-square-o"></i> <span>Được chia sẻ kiến thức v&agrave; tận mắt chứng kiến c&aacute;c kỹ thuật mới nhất được c&aacute;c chuy&ecirc;n gia h&agrave;ng đầu PMU Amiea tr&igrave;nh diễn.</span></li>
                        <li><i class="fa fa-check-square-o"></i> <span>Trực tiếp sử dụng c&aacute;c thiết bị PMU v&agrave; sản phẩm hữu cơ cao cấp, cảm nhận được sự kh&aacute;c biệt từ c&aacute;c thiết bị Amiea.</span></li>
                        <li><i class="fa fa-check-square-o"></i> <span>Cơ hội tham gia bốc thăm nhận nhiều qu&agrave; v&agrave; ưu đ&atilde;i từ Amiea.</span></li>
                        <li><i class="fa fa-check-square-o"></i> <span>L&agrave; nơi gặp gỡ c&aacute;c chuy&ecirc;n gia trong lĩnh vực phun xăm thẩm mỹ trong v&agrave; ngo&agrave;i nước, tiếp th&ecirc;m ngon lửa đam m&ecirc;.</span></li>
                    </ul>
                </div>
            </div>
            <div class="images">
                <div class="col-xs-4">
                    <img class="img-responsive item" src="~/images/event-register/Web-su-kien-amiea-03_03.jpg" />
                </div>
                <div class="col-xs-4">
                    <img class="img-responsive item" src="~/images/event-register/Web-su-kien-amiea-03_05.jpg" />
                </div>
                <div class="col-xs-4">
                    <img class="img-responsive item" src="~/images/event-register/Web-su-kien-amiea-03_07.jpg" />
                </div>
            </div>
        </div>
    </div>
</section>
<section id="professional">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="icon">
                    <i class="fa fa-caret-down" aria-hidden="true"></i>
                </div>
                <h2 class="titlebar">
                    Chuyên gia Amiea
                </h2>
            </div>
            <div class="col-sm-12">
                <div class="professional-image">
                    <img class="img-responsive" src="~/images/event-register/Anh chuyen gia.png" />
                </div>
            </div>
            <div class="col-sm-12 " id="professional-profile">
                <div class="professional-profile">
                    <h2 class="professional-name">Ms. Susanna Elizabeth Steyl</h2>
                    <div class="center">
                        <p>Quốc tịch Mỹ</p>
                        <p>Master Amiea khu vực Nam Phi</p>
                        <p>Chủ sở hữu & người sáng lập Cherryink Beauty Group</p>
                    </div>
                    <div class="description">
                        <p>Master và Trainer hàng đầu của Amiea hiện đang phụ trách khu vực Nam Phi. Cho đến nay Suzé Steyl là một trong số ít những chuyên gia hàng đầu về công nghệ PMU hoàn thành 2 chứng chỉ đào tạo cao cấp CIDESCO và SAAHSP</p>
                        <p>Suốt 20 năm hoạt động trong ngành phun xăm thẩm mỹ và Spa, Suzé Steyl là cái tên kiểm chứng cho uy tín Amiea tại khắp các quốc gia trên Thế Giới.</p>
                        <p>Với việc tổ chức nhiều lớp học cao cấp, Suzé Steyl luôn đi đầu trong tất cả các xu hướng thẩm mỹ mới nhất, giúp chia sẻ kiến thức cho cộng đồng làm đẹp.</p>
                        <p>Không những thế Suzé Steyl còn được biết đến như một nhà sáng lập và chủ sở hữu của công ty Cherryink Beauty Group nơi tập hợp những Master chuyên nghiệp về PMU.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12" id="eventContent">
                <div class="icon">
                    <i class="fa fa-caret-down" aria-hidden="true"></i>
                </div>
                <h2 class="titlebar">
                    Nội dung chương trình
                </h2>
                <div class="event-day">
                    <h3 class="title">
                        NGÀY 1: HỘI THẢO & CHUYỂN GIAO CÔNG NGHỆ
                    </h3>
                    <h4 class="days">
                        14/01/2019
                    </h4>
                    <div class="content">
                        <div class="item odd">
                            <h4>13:00 – 14:00</h4>
                            <div class="description">
                                Màu sắc – Sự kỳ diệu của sắc màu trong trang điểm vĩnh viễn
                            </div>
                        </div>
                        <div class="item even">
                            <h4>14:00 - 14:45</h4>
                            <div class="description">
                                Amiea Organic – Các loại mực và kết quả lên màu
                            </div>
                        </div>
                        <div class="item odd">
                            <h4>14:45 – 15:30</h4>
                            <div class="description">
                                Tại sao nên chọn Amiea? – Sự khác biệt giữa Amiea và các thương hiệu khác
                            </div>
                        </div>
                        <div class="item even">
                            <h4>15:30 – 15:45</h4>
                            <div class="description">
                                Hướng dẫn chăm sóc thiết bị
                            </div>
                        </div>
                        <div class="item even">
                            <h4>15:45 – 16:15</h4>
                            <div class="description">
                                Kim AMIEA – Chức năng của kim – Các trường hợp dùng kim cụ thể
                            </div>
                        </div>
                        <div class="item odd">
                            <h4>16:15 – 17:00</h4>
                            <div class="description">
                                Môi AMIEA – Hiểu về mực, kim, các trường hợp nên và không nên
                            </div>
                        </div>
                        <div class="item even">
                            <h4>17:00 – 17:30</h4>
                            <div class="description">
                                Mí mắt AMIEA – Hiểu về mực, kim, các trường hợp nên và không nên
                            </div>
                        </div>
                        <div class="item odd">
                            <h4>17:30 – 18:00</h4>
                            <div class="description">
                                Lông mày AMIEA – Hiểu về các kỹ thuật khác nhau, các trường hợp nên và không nên
                            </div>
                        </div>
                    </div>
                </div>
                <div class="event-day">
                    <h3 class="title">
                        NGÀY 2:  CHƯƠNG TRÌNH ĐÀO TẠO CỦA CHUYÊN GIA
                    </h3>
                    <h4 class="days">
                        15/01/2019
                    </h4>
                    <div class="content">
                        <div class="item odd">
                            <h4>Nội dung 1</h4>
                            <div class="description">
                                Cách vẽ môi hoàn hảo như chuyên gia
                            </div>
                        </div>
                        <div class="item even">
                            <h4>Nội dung 2</h4>
                            <div class="description">
                                Cách chọn màu mực phù hợp nhất với khách hàng
                            </div>
                        </div>
                        <div class="item odd">
                            <h4>Nội dung 3</h4>
                            <div class="description">
                                Hướng dẫn khử môi thâm, sắc tố môi tối màu
                            </div>
                        </div>
                        <div class="item even">
                            <h4>Nội dung 4</h4>
                            <div class="description">
                                Hướng dẫn sử dụng màu hữu cơ xử lý cho đôi môi đẹp hoàn hảo
                            </div>
                        </div>
                        <div class="item even">
                            <h4>Nội dung 5</h4>
                            <div class="description">
                                Hướng dẫn sử dụng thực hiện môi không viền tinh tế
                            </div>
                        </div>
                        <div class="item odd">
                            <h4>Nội dung 6</h4>
                            <div class="description">
                                Các phương pháp phun môi  Lipstick, Soft shaded natural Lips, Pixelated Lips, Ombré Lips
                            </div>
                        </div>
                        <div class="item even">
                            <h4>Nội dung 7</h4>
                            <div class="description">
                                Hướng dẫn tạo độ đồng đều tốt nhất cho môi
                            </div>
                        </div>
                        <div class="item odd">
                            <h4>Nội dung 8</h4>
                            <div class="description">
                                Những vấn đề cần lưu ý nên và không nên khi phun môi
                            </div>
                        </div>
                    </div>
                </div>
                <div class="event-day">
                    <h3 class="title">
                        NGÀY 3:  CHƯƠNG TRÌNH ĐÀO TẠO CỦA CHUYÊN GIA
                    </h3>
                    <h4 class="days">
                        16/01/2019
                    </h4>
                    <div class="content">
                        <div class="item odd">
                            <h4>Nội dung 1</h4>
                            <div class="description">
                                Đo tỷ lệ, tạo khuôn lông mày hoàn hảo
                            </div>
                        </div>
                        <div class="item even">
                            <h4>Nội dung 2</h4>
                            <div class="description">
                                Hướng dẫn kỹ thuật thực hiện không gây đau, không gây thương tổn
                            </div>
                        </div>
                        <div class="item odd">
                            <h4>Nội dung 3</h4>
                            <div class="description">
                                Các kỹ thuật tạo lông mày: Hairstrokes, Shaded, Combination Eyebrows
                            </div>
                        </div>
                        <div class="item even">
                            <h4>Nội dung 4</h4>
                            <div class="description">
                                Hướng dẫn sử dụng các loại kim khác nhau để tạo ra các hiệu ứng lông mày khác nhau
                            </div>
                        </div>
                        <div class="item even">
                            <h4>Nội dung 5</h4>
                            <div class="description">
                                Làm cách nào để đạt hiệu quả tối đa trong phun xăm
                            </div>
                        </div>
                        <div class="item odd">
                            <h4>Nội dung 6</h4>
                            <div class="description">
                                Hướng dẫn sử dụng kim Amiea Nano
                            </div>
                        </div>
                        <div class="item even">
                            <h4>Nội dung 7</h4>
                            <div class="description">
                                Chụp ảnh cùng chuyên gia
                            </div>
                        </div>
                        <div class="item odd">
                            <h4></h4>
                            <div class="description">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="event-day">
                    <h3 class="title">
                        NGÀY 4-6:  THỰC HÀNH CÙNG CHUYÊN GIA
                    </h3>
                    <h4 class="days">
                        17 - 19/01/2019
                    </h4>
                </div>
                <div class="center">
                    <a class="btn btn-register" id="registerContent">@Resource.RegisterNows</a>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="video">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="icon">
                    <i class="fa fa-caret-down" aria-hidden="true"></i>
                </div>
                <h2 class="titlebar">
                    Sự kiện AMIEA
                </h2>
            </div>
            <div class="col-sm-12">
                <div class="video-container">
                    <div class="img-responsive video-default">
                        <!--ko if: isSelectVideo()-->
                        <iframe data-bind="attr: {src: 'https://www.youtube.com/embed/' + videoLinkId() + '?enablejsapi=1&amp;amp;autoplay=1&amp;amp;rel=0&controls=1', alt: videoTitle() }" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" frameborder="0" width="100%" height="640"></iframe>
                        @*<div class="content">
                            <div class="title" data-bind="text: videoTitle()"></div>
                        </div>*@
                        <!--/ko-->
                        <!--ko if: !isSelectVideo()-->
                        <iframe src="@(string.Format("https://www.youtube.com/embed/{0}?enablejsapi=1&amp;amp;autoplay=0&amp;amp;rel=0&controls=1", videoFirst?.VideoLinkId))" allow="autoplay; encrypted-media" frameborder="0" width="100%" height="640"></iframe>
                        @*<div class="content">
                            <div class="title">@videoFirst.Title</div>
                        </div>*@
                        <!--/ko-->
                    </div>
                    <div id="video-silder" data-bind="foreach: listVideo">
                        <div class="item">
                            <a href="javascript://" data-bind="attr: { title: Title }, css: {selected : id() === Id}, click: selectVideo" class="thumbnail">
                                <img class="img-responsive" data-bind="attr: { src: '/image?url=' + Thumbnail, alt: Title }"
                                     onerror="this.src='/images/no-image.png'" />
                                <span class="pause-video">
                                    <i class="fa fa-play"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="register-form" id="register">
    <div class="container">
        <div class="row content">
            <div class="col-sm-12">
                <div class="icon">
                    <i class="fa fa-caret-down" aria-hidden="true"></i>
                </div>
                <h2 class="titlebar">
                    Đăng ký tham dự
                </h2>
            </div>
            <div class="col-sm-12 form">
                <form class="form-horizontal" id="register_form" data-bind="submit: register">
                    <div class="form-group">
                        <div class="col-sm-12 list-event-day">
                            <ul class="list-inline">
                                <!--ko foreach: listEventDay-->
                                <li>
                                    <a href="javascript://" data-bind="click: selectEventDay.bind($data)">
                                        <!--ko if: eventDays.indexOf(Id) === -1-->
                                        <i class="fa fa-circle-thin" aria-hidden="true"></i>
                                        <!--/ko-->
                                        <!--ko if: eventDays.indexOf(Id) !== -1-->
                                        <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                                        <!--/ko-->
                                        <span data-bind="text: Name"></span>
                                    </a>
                                </li>
                                <!--/ko-->
                                <li>
                                    <a href="javascript://" data-bind="click: checkAllEventDay">
                                        <!--ko if: !isCheckAllDay()-->
                                        <i class="fa fa-circle-thin" aria-hidden="true"></i>
                                        <!--/ko-->
                                        <!--ko if: isCheckAllDay()-->
                                        <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                                        <!--/ko-->
                                        <span data-bind="text: eventDayJoin"></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-sm-12 note">
                            <span>(Tích chọn để đăng ký)</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div data-bind="attr: {class: isFullNameError() ? 'col-sm-4 has-error cm-pdr-0' : 'col-sm-4 cm-pdr-0'}">
                            <input type="text" id="register_full_name" class="form-control w100pc" placeholder="@Resource.FullName *" value="" data-bind="value: fullName, hasFocus: isFullNameFocus" />
                        </div>
                        <div data-bind="attr: {class: isPhoneNumberError() ? 'col-sm-4 has-error cm-pdr-0' : 'col-sm-4 cm-pdr-0'}">
                            <input type="text" class="form-control w100pc" placeholder="@Resource.PhoneNumber *" value="" data-bind="value: phoneNumber, hasFocus: isPhoneNumberFocus" />
                        </div>
                        <div data-bind="attr: {class: isEmailError() ? 'col-sm-4 has-error' : 'col-sm-4'}">
                            <input type="text" class="form-control w100pc" placeholder="Email *" value="" data-bind="value: email, hasFocus: isEmailFocus" />
                        </div>
                    </div>
                    <div class="form-group" data-bind="attr: {class: isAddressError() ? 'form-group has-error' : 'form-group'}">
                        <div class="col-sm-12">
                            <textarea type="text" rows="7" class="form-control w100pc" placeholder="Xin vui lòng nói rõ hơn cho chúng tôi về vấn đê mà bạn đang gặp phải" rows="4" data-bind="value: address, hasFocus: isAddressFocus"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12 submit center">
                            <button type="submit" class="btn btn-send-message" data-bind="enable: !isSending()">
                                <i class="fa fa-spinner fa-pulse" data-bind="visible: isSending()" style="display: none"></i>
                                @Resource.RegisterNows
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-sm-12 social-network">
                <ul class="list-inline">
                    @foreach (var socialNetWork in listSocialNetWork)
                    {
                        <li class="list-items">
                            <a href="@socialNetWork.Url" class="btn-scoical">
                                @if (!string.IsNullOrEmpty(socialNetWork.Image))
                                {
                                    <img data-src="@($"/image?url={(string.IsNullOrEmpty(socialNetWork.Image) ? "/images/no-image.png" : $"{ViewBag.Url}{socialNetWork.Image}")}&width=30&height=30&type=1")"
                                         alt="@socialNetWork.Name"
                                         class="lazy" />
                                }
                            </a>
                        </li>
                    }
                </ul>
            </div>
            @if (branchOffice != null)
            {
                <div class="col-sm-12 address">
                    <ul class="list-inline">
                        <li class="list-items">
                            <strong>Địa chỉ liên hệ:</strong> @branchOffice.Address
                        </li>
                        <li class="list-items">
                            <strong>HotLine:</strong> @websiteSetting?.Hotline
                        </li>
                        <li class="list-items">
                            <strong>Email:</strong> @branchOffice?.BranchContactDetails?.Where(x => x.ContactType == ContactType.Email)?.FirstOrDefault()?.ContactValue
                        </li>
                    </ul>
                    <p><strong>Hội thảo diển ra: </strong> @eventInfo?.EventInfo?.Address</p>
                </div>
            }
        </div>
    </div>
</section>
<section id="contacts">
    <iframe frameborder="0" width="100%" height="480" style="border:0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.190762636479!2d105.84189521540215!3d21.0250517932797!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ab974c6aef7f%3A0x969708a3a3367c82!2zS2jDoWNoIFPhuqFuIE1vdmVucGljayBIw6AgTuG7mWk!5e0!3m2!1svi!2s!4v1545276406668" allowfullscreen></iframe>
</section>

@section scripts{
    <script src="~/lib/lodash/lodash.min.js"></script>
    <script type="text/javascript">
        var eventInfo = @(ViewBag.EventInfo != null ? Html.Raw(JsonConvert.SerializeObject(ViewBag.EventInfo)) : "[]");
        var listYoutube = @(ViewBag.Videos != null ? Html.Raw(JsonConvert.SerializeObject(ViewBag.Videos)) : "[]");
        var videoLinkId = "@videoFirst?.VideoLinkId";
        var videoTitle = "@videoFirst?.Title";
        var videoId = "@videoFirst?.Id";
    </script>
    <script src="~/js/viewmodel/event-register.viewmodel.min.js"></script>
}

