@model NewsSearchViewModel;

@if (Model != null)
{
    <div class="news-item">
        <div class="image-content">
            <a href="@($"/{Model.SeoLink}.html")" title="@(string.IsNullOrEmpty(Model.MetaTitle) ? Model.Title : Model.MetaTitle)">
                <img class="news-image zoom img-responsive lazy" data-src="@($"/image?url={(string.IsNullOrEmpty(Model.FeatureImage) ? "/images/no-image.png" : Model.FeatureImage)}&width=480&height=270")"
                     onerror="this.src='/images/no-image.png'"
                     alt="@(string.IsNullOrEmpty(Model.AltImage) ? Model.Title : Model.AltImage)" />
                <span class="img-overlay"></span>
            </a>
        </div>
        <div class="title">
            <a href="@($"/{Model.SeoLink}.html")" title="@(string.IsNullOrEmpty(Model.MetaTitle) ? Model.Title : Model.MetaTitle)">
                @(!string.IsNullOrEmpty(Model.Title) ? Common.SubString(Model.Title, 70) : Model.Title)
            </a>            
        </div>
    </div>
}
