@model CategoryWidthNewsViewModel;
@{
    var CategoryWidthNews = Model;
    ViewBag.Title = CategoryWidthNews.CategoryName;
    ViewBag.ImageBanner = CategoryWidthNews.BannerImage;
    var totalRows = CategoryWidthNews.TotalNews ?? 0;
    var pageSize = 12;
    var page = ViewBag.Page;
    var totalPage = Math.Ceiling((double)totalRows / pageSize);
    var seoLink = CategoryWidthNews.SeoLink;
    var listNewHot = ViewBag.ListNewsHot as List<NewsSearchViewModel>;
    var breadcrumbs = new List<Breadcrumb>
{
new Breadcrumb()
{
Name = CategoryWidthNews.CategoryName,
IsCurrent = true,
},
};

    ViewBag.Breadcrumb = breadcrumbs;
}
<partial name="_Breadcumb">
    <div id="category-news">
        <div class="container">
            <div class="row hidden-xs">
                <div class="col-sm-9">
                    @foreach (var news in Model.ListNews)
                    {
                        <div class="col-sm-6">
                            <partial name="_NewsItem" model="news" />
                        </div>
                    }
                    <div class="row">
                        <div class="col-sm-12 center">
                            <ul class="pagination">
                                @if (totalPage > 1)
                                {
                                    <li>
                                        <a class="@(page == 1 ? "disabled" : "")" href="@(page > 1 ? string.Format("{0}?page={1}&pageSize={2}", seoLink, 1, pageSize) : "javascript://")">
                                            <i class="fa fa-angle-double-left"></i>
                                        </a>
                                    </li>
                                    @for (var i = 1; i <= totalPage; i++)
                                    {
                                        <li><a class="@(page == i ? "active" : "")" href="@(string.Format("{0}?page={1}&pageSize={2}", seoLink, i, pageSize))">@i</a></li>
                                    }
                                    <li>
                                        <a class="@(page == totalPage ? "disabled" : "")" href="@(page < totalPage ? string.Format("{0}?page={1}&pageSize={2}", seoLink, totalPage, pageSize) : "javascript://")">
                                            <i class="fa fa-angle-double-right"></i>
                                        </a>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <partial name="_ListNewsHot" model="listNewHot" />
                </div>
            </div>
        </div>
    </div>
    <div class="category-mobile">
        <div class="container">
            <div class="col-sm-12 visible-xs">
                <partial name="_BlockNewsSuggestion" model="CategoryWidthNews.ListNews" />
                <view-more params="categoryId: @($"{ViewBag.CategoryId}")">
                </view-more>
                <template id="btn-viewmore">
                    <div class="block-news portfolio-item">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="row list-news">
                                    <div data-bind="foreach: listNews">
                                        <div class="col-xs-6 news-item">
                                            <div class="image-content">
                                                <a data-bind="attr : {href: seoLink, title: metaTitle}">
                                                    <img class="news-image zoom img-responsive lazy"
                                                         data-bind="attr : {src: '/image?url=@ViewBag.Url'+ featureImage + '&width=250&height=145', alt: altImage ? title : altImage}"
                                                         onerror="this.src='/images/no-image.png'" />
                                                    <span class="img-overlay"></span>
                                                </a>
                                            </div>
                                            <div class="title">
                                                <a data-bind="attr: {href:'/' + seoLink + '.html', title: metaTitle ? title : metaTitle }"></a>
                                                <div data-bind="text : $parent.handleString($data,title, 70)">

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button data-bind="click: function(){viewMore()}" type="button" class="btn btn-primary btn-main-color"><i data-bind="attr : {class: isLoadding() === true ? 'fa fa-pulse fa-spinner' : ''}"></i>@Resource.ViewMore</button>
                </template>
            </div>
        </div>
    </div>
    </div>
    @section scripts {
        <script type="text/javascript">
            var categoryId = @ViewBag.CategoryId;
        </script>
        <script src="~/js/viewmodel/category-news.viewmodel.es5.min.js"></script>
        <script>
            $(document).ready(function () {

                ko.applyBindings();
            });
        </script>
    }
