@model AlbumItemViewModel;

@if (Model != null)
{
    <div class="video-item">
        <div class="thumbnail-video">
            <a data-fancybox href="@Model.Url" title="@Model.Title">
                <img class="img-responsive zoom lazy" 
                     data-src="@(string.IsNullOrEmpty(Model.Thumbnail) ? "/images/no-image.png" : Model.Thumbnail)" alt="@Model.Title"
                     data-fancybox href="@Model.Url"
                      onerror="this.src='/images/no-image.png'"/>
                <span class="duration_video"><i class="fa fa-play"></i></span>
            </a>
        </div>
        <h3 class="title-video">
            <a data-fancybox href="@Model.Url" title="@Model.Title">
                @(!string.IsNullOrEmpty(Model.Title) ? Common.SubString(Model.Title, 70) : Model.Title)                
            </a>
        </h3>
        <div class="summary-video">
            @(!string.IsNullOrEmpty(Model.Description) ? Common.SubString(Model.Description, 100) : Model.Description)
        </div>
    </div>
}
