@{
    var listVideo = ViewBag.listVideo as List<AlbumItemViewModel>;
    var listAlbum = ViewBag.ListAlbum as List<AlbumVideoModel>;
    var totalRows = ViewBag.TotalRows ?? 0;
    var pageSize = 12;
    var page = ViewBag.Page;
    var totalPage = Math.Ceiling((double)totalRows / pageSize);
    var breadcumd = new Breadcrumb()
    {
        Title = Resource.VideoLibrary,
        Description = Resource.DescriptionVideo,
    };
}

<partial name="_Breadcumb" model="breadcumd"/>
<div id="videos">
    <div class="container">
        <div class="row">
            @if (listVideo != null && listVideo.Any())
            {
                foreach (var video in listVideo)
                {
                    <div class="abum-photo">
                        <div class="col-sm-4 ">
                            <partial name="_VideoItem" model="video" />
                        </div>
                    </div>
                }
            }
            <div class="col-sm-12 center">
                <ul class="pagination">
                    @if (totalPage > 1)
                    {
                        <li>
                            <a class="@(page == 1 ? "disabled" : "")" href="@(string.Format("/thu-vien-video/{0}/{1}", 1, pageSize))">
                                <i class="fa fa-angle-double-left"></i>
                            </a>
                        </li>
                        @for (var i = 1; i <= totalPage; i++)
                        {
                            <li><a class="@(page == i ? "active" : "")" href="@(string.Format("/thu-vien-video/{0}/{1}", i, pageSize))">@i</a></li>
                        }
                        <li>
                            <a class="@(page == totalPage ? "disabled" : "")" href="@(string.Format("/thu-vien-vide/{0}/{1}", totalPage, pageSize))">
                                <i class="fa fa-angle-double-right"></i>
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <partial name="_LastBlog">
</div>

