@{
    ViewData["Title"] = "Amiea";
    var banners = ViewBag.Banner as BannerViewModel;
    var bannerBranch = ViewBag.BannerBranch as BannerViewModel;
}

<link href="~/lib/lightslider/css/lightslider.min.css" rel="stylesheet" />
<link href="~/css/less/brand.min.css" rel="stylesheet" />
<partial name="_Breadcumb">
    <div id="amiea">
        <div class="branch-famous">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 center cm-mgt-10 cm-mgb-10">
                        <img class="w200" src="~/images/BGR web/Amiea/Ve-chung-toi-2_Amiea_03.jpg" />
                    </div>
                    <div class="col-sm-12 center">
                        <h2 class="titlebar">@Resource.AmieaFamous</h2>
                        <hr>
                    </div>
                    <div class="col-sm-12">
                        <div class="description">
                            <p>Amiea là thương hiệu dẫn đầu thị trường về các sản phẩm mực xăm hữu cơ, thiết bị PMU, kim nano trên thế giới từ tập đoàn MT.DERM, được thành lập năm 1998. Là nhà sản xuất duy nhất ở Đức được chứng nhận theo yêu cầu hệ thống quản lý chất lượng cho các thiết bị y tế. Bên cạnh việc sản xuất các thiết bị với công nghệ mới nhất và đạt tiêu chuẩn cao nhất, Amiea còn phát triển sản xuất dòng mực xăm hữu cơ tiên tiến và được đánh giá cao chất lượng.</p>
                            <p>Các sản phẩm của MT.DERM là kết quả của hơn 20 năm kinh nghiệm và các nhà khoa học, nhà phát triển, những người không ngừng phát triển các phương pháp và kỹ thuật mới với sự kiên nhẫn và niềm đam mê.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="technology-amiea">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 center">
                        <h2 class="titlebar">@Resource.TechnologyAmiea</h2>
                        <hr>
                    </div>
                    <div class="factory">
                        <div class="col-sm-6 image-factory">
                            <img class="w100pc img-responsive" src="~/images/BGR web/Amiea/Ve-chung-toi-2_Amiea_07.jpg" />
                        </div>
                        <div class="col-sm-6 content">
                            <div class="description">
                                <p>Cơ sở sản xuất của Amiea l&agrave; trung t&acirc;m của MT.DERM ở Berlin, đ&atilde; x&acirc;y dựng một nh&agrave; m&aacute;y rộng 5.200 m<sup>2</sup> chứa tất cả c&aacute;c m&aacute;y m&oacute;c c&ocirc;ng nghệ cao v&agrave; thiết bị chuy&ecirc;n dụng. Từ thiết kế đến lập tr&igrave;nh v&agrave; lắp rap, mỗi bước được l&ecirc;n kế hoạch cẩn thận v&agrave; li&ecirc;n tục cải tiến để đạt được sản lượng tốt nhất.</p>
                                <p>&Yacute; tưởng đầu ti&ecirc;n được ph&aacute;t triển sau khi đ&aacute;nh gi&aacute; v&agrave; ưu ti&ecirc;n trong một qu&aacute; tr&igrave;nh tư duy thiết kế linh hoạt v&agrave; nhanh ch&oacute;ng. Trong giai đoạn thứ hai, dự &aacute;n sẽ được chuyển giao th&ocirc;ng số kỹ thuật. Giai đoạn tiếp theo li&ecirc;n quan đến ph&aacute;t triển, tạo mẫu, trải qua nhiều b&agrave;i kiểm tra v&agrave; sau đ&oacute; chấp nhận. Cuối c&ugrave;ng, sản phẩm được chứng nhận, sản xuất được thiết lập v&agrave; bắt đầu sản xuất.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="system-amiea">
            <div class="container">
                <div class="row">
                    <div class="system">
                        <div class="col-sm-6 image-system">
                            <img class="img-responsive w100pc" src="~/images/BGR web/Amiea/Ve-chung-toi-2_Amiea_10.jpg" />
                        </div>
                        <div class="col-sm-6 description-system">
                            <div class="description">
                                <p>Qua nhiều năm, MT.DERM đã nộp một số lượng lớn các bằng sáng chế được cấp quốc tế.</p>
                                <p>Dưới đây là một trích dẫn của các bằng sáng chế và các ứng dụng bằng sáng chế:</p>
                            </div>
                            <ul class="list-style-none cm-pdl-0">
                                <li>
                                    <i class="fa fa-trophy" aria-hidden="true"></i>
                                    <span>Hệ thống mô-đun dùng một lần. Sự kết hợp của kim và nắp bảo vệ trong  một mô-đun dùng một lần tiệt trùng đơn chất cho an toàn hơn.</span>
                                </li>
                                <li>
                                    <i class="fa fa-trophy" aria-hidden="true"></i>
                                    <span>Đo độ dày của lớp biểu bì và điều chỉnh tự động độ sâu.</span>
                                </li>
                                <li>
                                    <i class="fa fa-trophy" aria-hidden="true"></i>
                                    <span>Nhận dạng tự động cấu hình kim theo thiết bị.</span>
                                </li>
                                <li>
                                    <i class="fa fa-trophy" aria-hidden="true"></i>
                                    <span>Hộp mực dùng một lần với màng tích hợp.</span>
                                </li>
                                <li>
                                    <i class="fa fa-trophy" aria-hidden="true"></i>
                                    <span>Đo bộ bền của da và điều chỉnh tần số..</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="certificate-safe">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 center">
                        <h2 class="titlebar">
                            @Resource.CertificateSafeAmiea
                        </h2>
                        <hr />
                    </div>
                    @if (bannerBranch != null)
                    {
                        <div class="col-sm-12">
                            <div id="certificateSafeAmieaSlider">
                                @foreach (var banner in bannerBranch.BannerItems)
                                {
                                    <div class="item">
                                        <div class="certificate-item">
                                            <a href="@banner.Url" title="@banner.Name" class="thumbnail-image">
                                                <img class="img-responsive" src="@($"/image?url={(string.IsNullOrEmpty(banner.Image) ? "/images/no-image.png" : banner.Image)}&width=320&height=180")"
                                                     onerror="this.src='/images/no-image.png'"
                                                     alt="@banner.Name" />
                                            </a>
                                        </div>
                                        <div class="certificate-name center cm-pdt-5">
                                            @banner.Name
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="progress-amiea">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 center">
                        <h2 class="titlebar">
                            @Resource.ProgressAmiea
                        </h2>
                        <hr />
                    </div>
                    <div class="col-sm-12 progress-content">
                        <div class="image-amiea">
                            <img id="image-amiea" class="w100pc img-responsive" src="~/images/BGR web/Amiea/Ve-chung-toi-2_Amiea_13.jpg" />
                        </div>
                        <div class="block-description">
                            <hr class="bg-white" />
                            <div class="title">
                                @Resource.ProgressAmieaDescription
                            </div>
                            <div class="description">
                                Sự hoàn hảo của Amiea phấn đấu vì chất lượng và an toàn cao nhất hỗ trợ kỹ năng của người sử dụng để có thể tạo ra một thứ gì đó đặc biệt cho khách hàng của mình. Với amiea bạn nhấn mạnh sự rạng rỡ hiện tại của khách hàng của bạn với độ chính xác và niềm đam mê. Các thiết bị được thiết kế nhỏ gọn nhưng vẫn đầy đủ các thông số kỹ thuật, độ chính xác cao, độ rung và tiếng ồn của máy cực thấp giúp cho người sử dụng có thể thoái mái làm việc hàng giờ. Về mực xăm Organic với bảng màu đa dạng có thể kết hợp với nhau để tạo ta những màu sắc khác biệt.
                                Dựa vào nhà phát triển và nhà sản xuất thiết bị PMU lớn nhất Châu Âu. Tất cả các thiết bị, mô kim và màu sắc được sản xuất tại Đức. Đặc biệt các thiết bị trang điểm vĩnh viễn và màu sắc đáp ứng tất cả các tiêu chuẩn Đức, châu Âu và Mỹ
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="product">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 center">
                        <h2 class="titlebar">
                            @Resource.Product
                        </h2>
                        <hr />
                    </div>
                    @if (banners != null)
                    {
                        <div class="col-sm-12">
                            <div id="productAmieaSlider">
                                @foreach (var banner in banners.BannerItems)
                                {
                                    <div class="item">
                                        
                                            <a href="@banner.Url" title="@banner.Name" class="thumbnail-image">
                                                <img class="img-responsive" src="@($"/image?url={(string.IsNullOrEmpty(banner.Image) ? "/images/no-image.png" : banner.Image)}&width=320&height=180")"
                                                     onerror="this.src='/images/no-image.png'"
                                                     alt="@banner.Name" />
                                            </a>
                                       
                                        <div class="product-name center cm-pdt-15">
                                            @banner.Name
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    }
                    <div class="col-sm-12 center cm-mgt-20">
                        <a class="btn btn-view-more" href="https://amiea.vn" target="_blank">
                            @Resource.ViewProduct
                            <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @section scripts{
        @*<script src="~/js/banner.min.js"></script>*@
        <script type="text/javascript">
            $(document).ready(function () {
                $("#certificateSafeAmieaSlider").lightSlider({
                    item: 5,
                    auto: true,
                    loop: true,
                    slideMove: 1,
                    speed: 1500,
                    pause: 3000,
                    slideEndAnimation: false,
                    slideMargin: 10,
                    pauseOnHover: false,
                    controls: true,
                    prevHtml: '<i class="fa fa-chevron-left" aria-hidden="true"></i>',
                    nextHtml: '<i class="fa fa-chevron-right" aria-hidden="true"></i>',
                    pager: false,
                    responsive: [
                        {
                            breakpoint: 800,
                            settings: {
                                item: 4,
                                slideMove: 1
                            }
                        },
                        {
                            breakpoint: 480,
                            settings: {
                                item: 4,
                                slideMove: 1
                            }
                        }
                    ]
                });

                $("#productAmieaSlider").lightSlider({
                    item: 4,
                    auto: true,
                    loop: true,
                    slideMove: 1,
                    speed: 1500,
                    pause: 3000,
                    slideEndAnimation: false,
                    slideMargin: 10,
                    pauseOnHover: false,
                    controls: true,
                    prevHtml: '<i class="fa fa-chevron-left" aria-hidden="true"></i>',
                    nextHtml: '<i class="fa fa-chevron-right" aria-hidden="true"></i>',
                    pager: false,
                    responsive: [
                        {
                            breakpoint: 800,
                            settings: {
                                item: 4,
                                slideMove: 1
                            }
                        },
                        {
                            breakpoint: 480,
                            settings: {
                                item: 2,
                                slideMove: 1
                            }
                        }
                    ]
                });
            })
        </script>
    }
