@{
    ViewBag.Title = "Nelly De Vuyst";
    var banners = ViewBag.Banner as BannerViewModel;
}
<link href="~/lib/lightslider/css/lightslider.min.css" rel="stylesheet" />
<link href="~/css/less/brand.min.css" rel="stylesheet" />
<partial name="_Breadcumb" />
<div id="nellydevusyt">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 center">
                <h2 class="titlebar">
                    Nelly De Vuyst
                </h2>
                <hr />
            </div>
        </div>
    </div>
    <div class="founder-nelly hidden-xs">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="founder">
                        <div class="statement-nelly">
                            <div class="content">
                                <img class="img-responsive w100pc" src="~/images/BGR web/Nelly/Nelly_06.jpg" />
                                <div class="statement">
                                    <div class="title">
                                        Nelly De Vuyst
                                    </div>
                                    <div class="description">
                                        Phát minh và đi đầu trong việc ứng dụng phương pháp Diadermic Methor trong quy trình sản xuất, giúp chăm sóc và phục hồi sự tươi trẻ của làn da từ bên trong.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="founder-image">
                            <div class="image">
                                <img class="img-responsive w100pc" src="~/images/BGR web/Nelly/Nelly-04.png" />
                            </div>
                            <div class="title">
                                <p>Giám đốc nghiên cứu và phát triển</p>
                                <p>Nelly De Vuyst – <b>Mrs: Manon Pilon</b></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="founder-nelly-mobile visible-xs">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 center">
                    <div class="logo-nelly">
                        <img class="img-responsive w100pc" src="~/images/BGR web/Nelly/Nelly-03.png" />
                    </div>
                </div>
                <div class="col-xs-12 center">
                    <div class="description">
                        Phát minh và đi đầu trong việc ứng dụng phương pháp Diadermic Methor trong quy trình sản xuất, giúp chăm sóc và phục hồi sự tươi trẻ của làn da từ bên trong.
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="image-founder">
                        <img class="img-responsive w100pc" src="~/images/BGR web/Nelly/Nelly-04.png" />
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="center">
                        <p class="founder-name">Mrs: Manon Pilon</p>
                        <p class="research-doctor">Giám đốc nghiên cứu và phát triển Nelly De Vuyst</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="method">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 ">
                    <div class="diadermic-method">
                        <div class="content">
                            <h2 class="title">
                                Diadermic method
                            </h2>
                            <div class="description">
                                <p>Diadermic Method là phương pháp cách mạng và đột phá trong quy trình sản xuất mỹ phẩm, đáp ứng tiêu chuẩn và yêu cầu cao nhất trong lĩnh vực mỹ phẩm của Liên minh Châu Âu.</p>
                                <p>Với Diadermic Method, các hoạt chất trong sản phẩm của Nelly De Vuyst đạt đến kích thước Nano, cho phép các phân tử thẩm thấu và thâm nhập sâu vào lớp giữa của hạ bì. Cơ chế này giúp phục hồi làn da từ bên trong, đồng thời tăng cường sự hấp thụ dưỡng chấy cho da mà các dòng sản phẩm khác không thể có được.</p>
                                <p>Đây là thành quả của 7 năm hợp tác nghiên cứu và phát triển của các bác sĩ da liễu, các nhà khoa học và chuyên gia của Nelly De Vuyst, đứng đầu là nhà nghiên cứu, y tế thẩm mỹ, tác giả nổi tiếng Manon Pilon.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="hollywood">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="blog">
                        <div class="img-thumbnail">
                            <img class="img-responsive" src="~/images/BGR web/Nelly/Nelly_11.jpg" />
                        </div>
                        <div class="content">
                            <div class="title">
                                Nelly De Vuyst SỰ LỰA CHỌN HÀNG ĐẦU CỦA CÁC NGÔI SAO HOLLYWOOD
                            </div>
                            <p>Với vị thế dẫn đầu về c&aacute;c d&ograve;ng mỹ phẩm chăm s&oacute;c da mặt v&agrave; body, Nelly De Vuyst tự h&agrave;o l&agrave; thương hiệu duy nhất tại ch&acirc;u &Acirc;u được TMG luxury Suite tin tưởng lựa chọn để chăm s&oacute;c da cho c&aacute;c ng&ocirc;i sao c&oacute; t&ecirc;n trong đề cử giải Oscar lần thứ 89 trong 2 ng&agrave;y trước đ&ecirc;m trao giải (từ ng&agrave;y 24-25/02/2017).</p>
                            <p>Việc được lọt v&agrave;o &ldquo;mắt xanh&rdquo; của TMG Luxury Suite một lần nữa khẳng định thương hiệu v&agrave; chất lượng vượt trội của c&aacute;c sản phẩm Nelly De Vuyst, đồng thời khẳng định về hiệu quả c&oacute; thể nh&igrave;n thấy ngay v&agrave; l&acirc;u d&agrave;i, trong khi vẫn đảm bảo y&ecirc;u cầu về mức độ an to&agrave;n cao d&agrave;nh cho c&aacute;c ng&ocirc;i sao Hollywood.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="why-select">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 center">
                    <h2 class="titlebar">
                        @Resource.WhySelectNellyDeVuyst
                    </h2>
                </div>
                <div class="content">
                    <div class="col-sm-6 left-content">
                        <div class="logo">
                            <img class="img-responsive" src="~/images/BGR web/Nelly/Nelly_15.jpg" />
                        </div>
                        <div class="description">
                            <p><strong>C&Aacute; NH&Acirc;N H&Oacute;A LIỆU TR&Igrave;NH CHĂM S&Oacute;C DA:</strong> C&aacute;c sản phẩm Nelly De Vuyst được đặc chế tương th&iacute;ch với l&agrave;n da mọi ch&acirc;u lục, đầy đủ c&aacute;c d&ograve;ng ph&ugrave; hợp với tinh chất da ở những m&ocirc;i trường c&oacute; thời tiết v&agrave; kh&iacute; hậu kh&aacute;c nhau, từ da kh&ocirc;, da dầu, da nhạy cảm v&agrave; da hỗn hợp.</p>
                            <p><strong>CHINH PHỤC C&Aacute;C THỊ TRƯỜNG KH&Oacute; T&Iacute;NH:</strong> Hơn 45 năm ph&aacute;t triển, Nelly De Vuyst đ&atilde; chinh phục th&agrave;nh c&ocirc;ng c&aacute;c thị trường kh&oacute; t&iacute;nh nhất như Mỹ, c&aacute;c nước ch&acirc;u &Acirc;u, Canada hay một số thị trường n&oacute;ng tại Châu Á như H&agrave;n Quốc, Nhật Bản v&agrave; Singapore. Đến nay Nelly De Vuyst tự h&agrave;o c&oacute; mặt tr&ecirc;n 25 nước v&agrave; 4.000 điểm b&aacute;n tr&ecirc;n to&agrave;n cầu.</p>
                        </div>
                    </div>
                    <div class="col-sm-6 right-content">
                        <p><strong>DIADERMIC METHOD: </strong>l&agrave; bước đột ph&aacute;, cuộc c&aacute;ch mạnh trong c&ocirc;ng nghệ đối với ng&agrave;nh mỹ phẩm thế giới do Nelly De Vuyst cũng c&aacute;c nh&agrave; khoa học h&agrave;ng đầu nghi&ecirc;n cứu v&agrave; ph&aacute;t triển. Lần đầu ti&ecirc;n c&aacute;c ph&acirc;n tử hoạt chất được thẩm thấu v&agrave; tiến s&acirc;u v&agrave;o lớp biểu b&igrave; trong c&ugrave;ng của da, phục hồi những thương tổn v&agrave; năng lượng cho v&ugrave;ng da cần chăm s&oacute;c, t&aacute;i tạo v&agrave; bổ sung độ ẩm, th&uacute;c đẩy tăng trưởng collagen tự nhi&ecirc;n, loại bỏ c&aacute;c tuyến b&atilde; nhờn nằm s&acirc;u dưới da, mang lại l&agrave;n da ho&agrave;n hảo ngay cả những trường hợp da đ&atilde; bị thương tổn v&agrave; nhạy cảm do h&oacute;a chất.</p>
                        <p><strong>CHỨNG CHỈ ECOCERT &ndash; COSMOS ORGANIC: </strong>Tất cả c&aacute;c sản phẩm Nelly De Vuyst BIO chăm s&oacute;c da hữu cơ được sản xuất theo y&ecirc;u cầu của ti&ecirc;u chuẩn Cosmos v&agrave; đ&atilde; được ECOCERT chứng nhận theo ti&ecirc;u chuẩn Cosmos Organic. Đ&acirc;y l&agrave; ti&ecirc;u chuẩn cao v&agrave; khắt khe nhất tại Ch&acirc;u &Acirc;u về c&aacute;c sản phẩm mỹ phẩm hữu cơ. Đảm bảo c&aacute;c nguy&ecirc;n liệu sạch từ kh&acirc;u trồng, thu hoạch, chiết xuất cho đến c&ocirc;ng đoạn đặc chế v&agrave; đ&oacute;ng g&oacute;i.</p>
                        <p class="hidden-xs">
                            <a class="btn btn-view-more" href="http://nellydevuyst.vn" target="_blank">
                                @Resource.ViewProduct
                                <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                            </a>
                        </p>
                        <p class="visible-xs center">
                            <a class="btn btn-view-more" href="http://nellydevuyst.vn" target="_blank">
                                @Resource.ViewProduct
                                <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="product">
        <div class="container">
            <div class="row cm-mgb-20">
                <div class="col-sm-12 center">
                    <h2 class="titlebar">@Resource.NellyProgress</h2>
                    <div class="description">
                        Đến nay Nelly De Vuyst đã có mặt tại hàng chục Spa cao cấp tại Việt Nam, đáp ứng nhu cầu của khách hàng phân khúc cao cấp của spa.
                    </div>
                </div>
                @if (banners != null)
                {
                    <div class="col-sm-12">
                        <div id="bannerNellySlider">
                            @foreach (var banner in banners.BannerItems)
                            {
                                <div class="item">
                                    <div class="thumbnail-image">
                                        <a href="@banner.Url" title="@banner.Name" class="">
                                            <img class="img-responsive" src="@($"/image?url={(string.IsNullOrEmpty(banner.Image) ? "/images/no-image.png" : $"{ViewBag.Url}{banner.Image}")}&width=320&height=180")"
                                                 onerror="this.src='/images/no-image.png'"
                                                 alt="@banner.Name" />
                                        </a>
                                    </div>
                                    <div class="product-name">
                                        @banner.Name
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                }
                <div class="col-sm-12 center cm-mgt-20">
                    <a class="btn btn-view-more" href="http://nellydevuyst.vn" target="_blank">
                        @Resource.ViewProduct
                        <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#bannerNellySlider").lightSlider({
                item: 6,
                auto: true,
                loop: true,
                slideMove: 1,
                speed: 1500,
                pause: 3000,
                slideEndAnimation: false,
                slideMargin: 10,
                pauseOnHover: false,
                controls: true,
                prevHtml: '<i class="fa fa-chevron-left" aria-hidden="true"></i>',
                nextHtml: '<i class="fa fa-chevron-right" aria-hidden="true"></i>',
                pager: false,
                responsive: [
                    {
                        breakpoint: 800,
                        settings: {
                            item: 3,
                            slideMove: 1
                        }
                    },
                    {
                        breakpoint: 480,
                        settings: {
                            item: 2,
                            slideMove: 1
                        }
                    }
                ]
            });
        })
    </script>
}

