@{
    ViewData["Title"] = "Spa";
    var banners = ViewBag.Banner as BannerViewModel;
}
<link href="~/lib/lightslider/css/lightslider.min.css" rel="stylesheet" />
<link href="~/css/less/brand.min.css" rel="stylesheet" />
<partial name="_Breadcumb">
    <div id="spa">
        <div class="founder">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 center cm-mgt-10 cm-mgb-10">
                        <img class="w200" src="~/images/BGR web/BCL spa/logo.jpg" />
                    </div>
                    <div class="col-sm-12 center">
                        <h2 class="titlebar">@Resource.Founder</h2>
                        <hr>
                    </div>
                    <div class="introduction">
                        <div class="col-sm-4 img-founder">
                            <img class="img-responsive" src="~/images/BGR web/BCL spa/nguoi sang lap.jpg" />
                        </div>
                        <div class="col-sm-8 about-founder">
                            <hr />
                            <p><strong>Jason Freeman</strong> s&aacute;ng lập ra <strong>Bio Creative Labs</strong> năm 2002, bắt đầu d&ograve;ng sản phẩm spa chuy&ecirc;n nghiệp Mani Sation v&agrave; Pedi Sation, đặc biệt kh&ocirc;ng chứa paraben, phương ph&aacute;p điều trị bằng hương liệu thực vật cho cắt sửa m&oacute;ng tay v&agrave; m&oacute;ng ch&acirc;n, Năm 2005, thương hiệu n&agrave;y đ&atilde; mở rộng tr&ecirc;n to&agrave;n thế giới với hơn 30 quốc gia.</p>
                            <p>Năm 2005 Bio Creative Labs gi&agrave;nh được Petal Fresh từ Nature&rsquo;s Gate v&agrave; cải thiện sản phẩm n&agrave;y, tập trung v&agrave;o yếu tố sức khỏe v&agrave; th&acirc;n thiện với m&ocirc;i trường. BCL Spa được biết đến với t&ecirc;n gọi Spa Organics, được tung ra thị trường năm 2011, l&agrave; d&ograve;ng sản phẩm spa chuy&ecirc;n nghiệp ho&agrave;n thiện đầu ti&ecirc;n được chứng nhận chứa c&aacute;c th&agrave;nh phần hữu cơ v&agrave; cung cấp một sự trải nghiệm ho&agrave;n to&agrave;n hữu cơ với sự trang trọng, th&agrave;nh phần nhập ngoại gi&uacute;p l&agrave;m dịu v&agrave; nu&ocirc;i dưỡng l&agrave;n da. Ng&agrave;y nay, BCL Spa ph&aacute;t triển được ph&acirc;n phối tr&ecirc;n 60 quốc gia tr&ecirc;n to&agrave;n thế giới.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="why-organic">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 center">
                        <h2 class="titlebar">@Resource.WhyIsOrganic</h2>
                        <hr class="bg-white">
                    </div>
                    <div class="col-sm-12">
                        <div class="content">
                            <div class="organic">
                                <div class="item">
                                    <img class="img-responsive" src="~/images/brand/organic1.jpg" />
                                </div>
                                <div class="item">
                                    <img class="img-responsive" src="~/images/brand/organic2.jpg" />
                                </div>
                                <div class="item">
                                    <img class="img-responsive" src="~/images/brand/organic3.jpg" />
                                </div>
                                <div class="item">
                                    <img class="img-responsive" src="~/images/brand/Organic4.jpg" />
                                </div>
                                <div class="item">
                                    <img class="img-responsive" src="~/images/brand/Organic5.jpg" />
                                </div>
                                <div class="item">
                                    <img class="img-responsive" src="~/images/brand/Organic6.jpg" />
                                </div>
                            </div>
                            <div class="description">
                                <p style="text-align: center;">D&agrave;nh cho c&aacute;c chuy&ecirc;n gia, ch&uacute;ng t&ocirc;i lấy kinh nghiệm của spa v&agrave; l&agrave;m đẹp sang một c&ocirc;ng thức mới, ho&agrave;n to&agrave;n hữu cơ với BCL Spa. Ch&uacute;ng t&ocirc;i tập trung c&aacute;c c&aacute;c c&ocirc;ng thức sạch, thảo dược v&agrave; c&aacute;c chất chống oxy h&oacute;a phong ph&uacute; cho mỗi c&aacute; nh&acirc;n v&agrave; phương ph&aacute;p trị liệu độc nhất.</p>
                                <p style="text-align: center;">C&aacute;c th&agrave;nh phần hữu cơ đ&atilde; được chứng nhận của ch&uacute;ng t&ocirc;i th&uacute;c đẩy một lối sống khỏe mạnh theo định hướng th&acirc;n thiện với m&ocirc;i trường, ph&ugrave; hợp với phong c&aacute;ch sống, sản phẩm của ch&uacute;ng t&ocirc;i giữ được những mục ti&ecirc;u chuẩn cao nhất của ng&agrave;nh l&agrave;m đẹp với c&ocirc;ng thức kh&ocirc;ng chứa c&aacute;c chất h&oacute;a học v&agrave; chất bảo quản mạnh.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="you-need">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 center">
                        <h2 class="titlebar">@Resource.YourNeeds</h2>
                        <hr>
                    </div>
                    <div class="col-sm-12">
                        <div class="product-item">
                            <div class="img-product">
                                <img src="~/images/BGR web/BCL spa/BLC Spa-04.png" />
                            </div>
                            <div class="description">
                                <hr class="bg-brown">
                                <p>Những th&agrave;nh phần hữu cơ qu&yacute; gi&aacute; tr&ecirc;n thế giới như c&aacute;c loại tinh dầu v&agrave; chiết xuất thảo dược được pha trộn với c&aacute;c nguy&ecirc;n liệu qu&yacute; hiếm kh&aacute;c như dầu Argan từ Morocco để tạo ra một trải nghiệm ho&agrave;n to&agrave;n hữu cơ trong c&aacute;c spa hoặc tại nh&agrave;. Dầu argan (hay c&ograve;n gọi l&agrave; dầu của người Ma rốc) được gọi l&agrave; &ldquo;V&agrave;ng lỏng&rdquo; v&agrave; &ldquo;dầu của cuộc sống&rdquo;. N&oacute; l&agrave; th&agrave;nh phần &ldquo;phải c&oacute;&rdquo; trong ng&agrave;nh c&ocirc;ng nghiệp l&agrave;m đẹp chuy&ecirc;n nghiệp, người mẫu v&agrave; người nổi tiếng. Loại dầu tuyệt vời n&agrave;y gi&uacute;p l&agrave;m giảm c&aacute;c đường nhăn (nếp nhăn, vết rạn ch&acirc;n chim, vết rạn da), giảm c&aacute;c nốt, đốm (đốm đen, sẹo mụn, khuyết điểm), giảm mụn, dưỡng t&oacute;c v&agrave; m&oacute;ng tay b&oacute;ng khỏe.</p>
                                <p>Thậm trí, loại dầu n&agrave;y c&oacute; khả năng điều trị c&aacute;c vẫn đề kh&aacute;c của da kh&ocirc;, bệnh eczema. An to&agrave;n cho trẻ. Dầu Argan cấp ấm v&agrave; bảo vệ da, th&iacute;ch hợp cho việc chăm s&oacute;c da mặt v&agrave; massage cơ thể.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="product-item">
                            <div class="img-product">
                                <img src="~/images/BGR web/BCL spa/BLC Spa-02.png" />
                            </div>
                            <div class="description" id="product1">
                                <hr class="bg-green">
                                Làm dịu sự căng thẳng và loại bỏ mụn với hỗn hợp làm sạch tinh khiết xả + trà xanh. Trẻ hóa với tác động chống lão hóa của quýt và xoài. Thư giãn và làm dịu cảm xúc với oải hương, cấp nước và làm dịu da với sữa, mật ong và socola trắng. Tất cả những nguyên liệu này sẽ cho bạn trải nghiệm hoàn toàn thiên nhiên. Sang trọng và đơn giản.
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="product-item">
                            <div class="img-product">
                                <img src="~/images/BGR web/BCL spa/BLC Spa-03.png" />
                            </div>
                            <div class="description" id="product2">
                                <hr class="bg-orange">
                                Với tác động mạnh, chất chống oxy hóa tự nhiên, chất làm mềm da, các loại thảo mộc tốt nhất và chiết xuất trái cây giúp BCL Spa trở thành một trả nghiệm hoàn toàn hữu cơ không giống bất cứ sản phẩm nào khác. Làm sạch, chống lão hóa, làm dịu, làm mềm, rất đơn giản, hệ thống hoàn chỉnh này giúp dưỡng ẩm sâu và làm trẻ hóa làn da bởi nó chống lại các tác động tiêu cực từ ánh nắng mặt trời và các dấu hiệu lão hóa.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="product">
            <div class="container">
                <div class="row cm-mgb-20">
                    <div class="col-sm-12 center">
                        <h2 class="titlebar">@Resource.Product</h2>
                        <hr>
                    </div>
                    @if (banners != null)
                    {
                        <div class="col-sm-12">
                            <div id="bannerSpaSlider">
                                @foreach (var banner in banners.BannerItems)
                                {
                                    <div class="item">
                                        <div class="thumbnail-image">
                                            <a href="@banner.Url" title="@banner.Name">
                                                <img class="img-responsive" src="@($"/image?url={(string.IsNullOrEmpty(banner.Image) ? "/images/no-image.png" : banner.Image)}&width=320&height=180")"
                                                     onerror="this.src='/images/no-image.png'"
                                                     alt="@banner.Name" />
                                            </a>
                                        </div>
                                        <div class="title">
                                            @banner.Name
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    }
                    <div class="col-sm-12 center cm-mgt-20">
                        <a class="btn btn-view-more" href="http://jadespa.vn/san-pham/bcl--cham-soc-da-spa.html" target="_blank">
                            @Resource.ViewProduct
                            <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @section scripts{
        <script type="text/javascript">
            $(document).ready(function () {
                $("#bannerSpaSlider").lightSlider({
                    item: 4,
                    auto: true,
                    loop: true,
                    slideMove: 1,
                    speed: 1500,
                    pause: 3000,
                    slideEndAnimation: false,
                    slideMargin: 10,
                    pauseOnHover: false,
                    controls: true,
                    prevHtml: '<i class="fa fa-chevron-left" aria-hidden="true"></i>',
                    nextHtml: '<i class="fa fa-chevron-right" aria-hidden="true"></i>',
                    pager: false,
                    responsive: [
                        {
                            breakpoint: 800,
                            settings: {
                                item: 3,
                                slideMove: 1
                            }
                        },
                        {
                            breakpoint: 480,
                            settings: {
                                item: 2,
                                slideMove: 1
                            }
                        }
                    ]
                });
            });
        </script>
    }

