@model MenuObject

@{
    var path = $"{Context.Request.Path}";
    var absoluteUri = $"{Context.Request.Host}{Context.Request.Path}";
    var url = ViewBag.Url;
}
@if (Model != null)
{
    var list = Model.ListMenuItem.Where(x => x.ParentId == Model.ParentId);
    foreach (var item in list)
    {
        var childCount = Model.ListMenuItem.Count(x => x.ParentId == item.Id);
        <li class="@(childCount > 0 ? "dropdown" : "items") @(Model.ParentId > 0 ? "dropdown-submenu" : "")">
            @if (ViewBag.DeviceType == "desktop")
            {
                <a role="button" href="@($"{(item.Url == "/" ? "/" : string.IsNullOrEmpty(item.Url) ? "/" + item.NamePath : "/" + item.Url)}")"
                   class="@((item.NamePath != null && path.Contains(item.NamePath) || item.Url == absoluteUri) ? "transition active dropdown-toggle hidden-sm hidden-xs hidden-md" : "transition dropdown-toggle hidden-sm hidden-xs hidden-md")"
                   title="@item.Name">
                    @item.Name
                    @if (childCount > 0 && Model.ParentId > 0)
                    {
                        <i class="fa fa-angle-right pull-right visible-lg"></i>
                    }
                </a>
            }
            else
            {
                <a role="button" href="@($"{(item.Url == "/" ? "/" : string.IsNullOrEmpty(item.Url) ? "/" + item.NamePath : "/" +item.Url)}")"
                   class="@((item.NamePath != null && path.Contains(item.NamePath) || item.Url == absoluteUri) ? "transition active data-toggle visible-sm visible-xs visible-md" : "transition active dropdown-toggle visible-sm visible-xs visible-md")"
                   title="@item.Name" data-toggle="@(childCount > 0 ? "dropdown" : "")">
                    @item.Name
                    @if (childCount > 0)
                    {
                        <i class="fa fa-angle-down pull-right visible-sm visible-xs visible-md"></i>
                        <i class="fa fa-angle-up pull-right visible-sm visible-xs visible-md hidden-sm hidden-xs hidden-md"></i>
                    }
                </a>
            }
            @if (Model.ListMenuItem.Count(x => x.ParentId == item.Id) > 0)
            {
                <ul class="dropdown-menu">
                    @{
                        var menuObject = new MenuObject
                        {
                            ListMenuItem = Model.ListMenuItem,
                            ParentId = item.Id
                        };
                        <partial name="_MenuItem" model="menuObject" />
                    }
                </ul>
            }
        </li>
    }
}