@model BannerViewModel;
@{
    var url = ViewBag.Url;
    var jsonSerializerSettings = new JsonSerializerSettings
    {
        ContractResolver = new CamelCasePropertyNamesContractResolver()
    };
}
<!--ko if: $root.listMenus().length > 0 && !$root.isLoadingMenu() -->
<div id="myCarousel">
    @if (Model != null && Model.BannerItems != null && Model.BannerItems.Any())
    {
        @foreach (var bannerItem in Model.BannerItems?.OrderBy(x => x.Order))
        {
            <div class="item">
                <a href="javascript://" title="@bannerItem.Name">
                    <img class="img-responsive" src="@(string.IsNullOrEmpty(bannerItem.Image) ? "/images/no-image.png" : $"/image?url={url}{bannerItem.Image}")"
                         alt="@bannerItem.Alt" />
                </a>
                <div class="carousel-caption">
                    <h2 onclick="window.location.href='@bannerItem.Url'" data-animation="animated ">@bannerItem.Name</h2>
                    <h3 data-animation="animated ">
                        @bannerItem.Description
                    </h3>
                    <button onclick="window.location.href='@bannerItem.Url'" class="btn btn-main d-md-block" data-animation="animated zoomInUp">
                        Xem ngay
                        <i class="la la-angle-right"></i>
                    </button>
                </div>
            </div>
        }
    }
</div>
<!--/ko-->
<span data-bind="listMenus().length"></span>
<!--ko if: $root.isLoadingMenu() -->
<div class="nodata" style="background: #f8f8f8; width: 100%; height: 450px">
</div>
<!--/ko-->
<script type="text/javascript">
    var bannerItems = @Html.Raw(JsonConvert.SerializeObject(Model.BannerItems));
</script>