@{
    var listBrand = ViewBag.ListBrands as List<BrandSearchViewModel>;
}

@if (listBrand != null && listBrand.Any())
{
    <div id="brand" class="lazy" data-src="/images/bgr web/trang chu/image-07.jpg">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 center">
                    <h2 class="titlebar">@Resource.ExclusiveBrand</h2>
                    <hr class="bg-white" />
                </div>
                <div class="col-sm-12">
                    <div id="brandSlider" class="hidden-xs">
                        @foreach (var brand in listBrand)
                        {
                            <div class="item">
                                <div class="thumbnail-image">

                                    <img class="img-responsive lazy" src="@($"/image?url={(string.IsNullOrEmpty(brand.Logo) ? "/images/no-image.png" : $"{ViewBag.Url}{brand.Logo}")}&width=120&height=120")"
                                         onerror="this.src='/images/no-image.png'"
                                         alt="@brand.Name" />

                                    <a href="@brand.Website" title="@brand.Name" class="title">
                                        @Resource.ViewDetail
                                    </a>
                                </div>
                            </div>
                        }
                    </div>
                    <div class="brand-mobile visible-xs">
                        @foreach (var brand in listBrand)
                        {
                            <div class="item">
                                <div class="thumbnail-image">
                                    <a href="@brand.Website" title="@brand.Name">
                                        <img class="img-responsive lazy" src="@($"/image?url={(string.IsNullOrEmpty(brand.Logo) ? "/images/no-image.png" : $"{ViewBag.Url}{brand.Logo}")}&width=120&height=120")"
                                             onerror="this.src='/images/no-image.png'"
                                             alt="@brand.Name" />
                                    </a>
                                    <a href="@brand.Website" title="@brand.Name" class="title">
                                        @Resource.ViewDetail
                                    </a>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
}
