@model CategoryWidthNewsViewModel;
@{
    var url = ViewBag.Url;
    var newsDefault = Model != null && Model.ListNews.Any() ? Model.ListNews.FirstOrDefault() : null;
}

@if (Model != null && Model.ListNews.Any())
{
    <div class="block-news portfolio-item @Model.CategoryId">
        <div class="row">
            <div class="col-sm-6 ">
                <div class="news-default">
                    <div class="image-content">
                        <a href="@($"/{ newsDefault.SeoLink}.html")" title="@(string.IsNullOrEmpty(newsDefault.MetaTitle) ? newsDefault.Title : newsDefault.MetaTitle)">
                            <img class="news-image zoom img-responsive lazy" data-src="@($"/image?url={(string.IsNullOrEmpty(newsDefault.FeatureImage) ? "/images/no-image.png" : $"{url}{newsDefault.FeatureImage}")}&width=640&height=360")"
                                 onerror="this.src='/images/no-image.png'"
                                 alt="@(string.IsNullOrEmpty(newsDefault.AltImage) ? newsDefault.Title : newsDefault.AltImage)" />
                            <span class="img-overlay"></span>
                        </a>
                    </div>
                    <div class="news-content">
                        <div class="title">
                            <a href="@($"/{ newsDefault.SeoLink}.html")" title="@(string.IsNullOrEmpty(newsDefault.MetaTitle) ? newsDefault.Title : newsDefault.MetaTitle)">
                                @(!string.IsNullOrEmpty(newsDefault.Title) ? Common.SubString(newsDefault.Title, 70) : newsDefault.Title)
                            </a>
                        </div>
                        <div class="summary">
                            @(!string.IsNullOrEmpty(newsDefault.Description) ? Common.SubString(newsDefault.Description, 140) : newsDefault.Description)
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="row list-news">
                    @foreach (var news in Model.ListNews.Where(x => x.Id != newsDefault.Id))
                    {
                        <div class="col-xs-6 news-item">
                            <div class="image-content">
                                <a href="@($"/{ news.SeoLink}.html")" title="@(string.IsNullOrEmpty(news.MetaTitle) ? news.Title : news.MetaTitle)">
                                    <img class="news-image zoom img-responsive lazy" data-src="@($"/image?url={(string.IsNullOrEmpty(news.FeatureImage) ? "/images/no-image.png" : $"{url}{news.FeatureImage}")}&width=480&height=270")"
                                         onerror="this.src='/images/no-image.png'"
                                         alt="@(string.IsNullOrEmpty(news.AltImage) ? news.Title :  news.AltImage)" />
                                    <span class="img-overlay"></span>
                                </a>
                            </div>
                            <div class="title">
                                <a href="@($"/{ news.SeoLink}.html")" title="@(string.IsNullOrEmpty(news.MetaTitle) ? news.Title : news.MetaTitle)">
                                    @(!string.IsNullOrEmpty(news.Title) ? Common.SubString(news.Title, 70) : news.Title)
                                </a>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="col-sm-12">
                <div class="pull-right hidden-xs">
                    <a class="btn btn-view-more" href="@(string.Format("/{0}", Model.SeoLink))">
                        @Resource.ViewMore
                        <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                    </a>
                </div>
                <div class="center visible-xs">
                    <a class="btn btn-view-more" href="@(string.Format("/{0}", Model.SeoLink))">
                        @Resource.ViewMore
                        <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
}

