@{
    var websiteSetting = ViewBag.WebsiteSetting as WebsiteSetting;
    var listMenuItem = ViewBag.MainNav as List<MenuItemViewModel>;
    var listSocialNetWork = ViewBag.SocialNetwork as List<SocialNetworkViewModel>;
    var listLanguage = ViewBag.ListLanguage as List<TenantLanguageViewModel>;
    var path = $"{Context.Request.Path}";
    var url = ViewBag.Url;
}

<header id="header">
    <div class="header-top hidden-xs">
        <div class="container">
            <div class="nav-header">
                <a href="/" class="navbar-brand">
                    <img class="img-responsive" src="@(websiteSetting != null && !string.IsNullOrEmpty(websiteSetting.Logo) ? $"{url}{websiteSetting.Logo}" : "/images/Trang chu/Logo ABC tren-duoi.png" )"
                         alt="@(websiteSetting != null && !string.IsNullOrEmpty(websiteSetting.Brand) ? websiteSetting.Brand :  "Phun xăm thẩm mỹ amiea")"
                         onerror="this.src='/images/no-image.png'" />
                </a>
                @*<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>*@
            </div>
        </div>
    </div>
    <div class="header-bottom">
        <nav class="navbar navbar-inverse ">
            <div class="container">
                <div class="navbar-header visible-xs">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="/" class="navbar-brand">
                        <img class="img-responsive" src="@(websiteSetting != null && !string.IsNullOrEmpty(websiteSetting.LogoMobile) ? $"{url}{websiteSetting.LogoMobile}" : "/images/Logo GHM-04.png" )"
                             alt="@(websiteSetting != null && !string.IsNullOrEmpty(websiteSetting.Brand) ? websiteSetting.Brand :  "Phun xăm thẩm mỹ amiea")"
                             onerror="this.src='/images/no-image.png'" />
                    </a>
                </div>
                <div class="navbar-collapse collapse" id="abcMainNav">
                    <div id="page-surround">
                    </div>
                    <ul class="nav navbar-nav">
                        <li><a href="/" class="@(path == "/" ? "active" : "")">@Resource.Home</a></li>
                        @if (listMenuItem != null && listMenuItem.Any())
                        {
                            var menuObject = new MenuObject
                            {
                                ListMenuItem = listMenuItem,
                                ParentId = null,
                            };
                            <partial name="_MenuItem" model="menuObject" />
                        }
                        <li class="visible-xs">
                            <div class="list-social-network">
                                @foreach (var socialNetWork in listSocialNetWork)
                                {
                                    <div class="list-items">
                                        <a href="@socialNetWork.Url" class="btn-scoical" title="@websiteSetting?.Brand">
                                            @if (!string.IsNullOrEmpty(socialNetWork.Icon))
                                            {
                                                @*<img data-src="@($"/image?url={(string.IsNullOrEmpty(socialNetWork.Image) ? "/images/no-image.png" : socialNetWork.Image)}&width=25&height=25&type=1")"
                                                     alt="@socialNetWork.Name"
                                                     class="lazy" />*@
                                                <i class="fa @socialNetWork.Icon"></i>
                                            }
                                        </a>
                                    </div>
                                }
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            @if (listLanguage != null && listLanguage.Any() && listLanguage.Count > 1)
            {
                <div class="header-tool hidden-xs">
                    <div class="btn-group">
                        @if (ViewBag.CurrentLanguage == "vi-VN")
                        {
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <img src="/images/vi.png"> Vietnamese<span class="caret"></span>
                            </a>
                        }
                        else
                        {
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <img src="~/images/en.png"> English<span class="caret"></span>
                            </a>
                        }
                        <ul class="dropdown-menu pull-right">
                            @foreach (var language in listLanguage)
                            {
                                <li>
                                    <a href="/change-language/@language.LanguageId?url=@path">
                                        @if (language.LanguageId == "vi-VN")
                                        {
                                            <img src="/images/vi.png">
                                        }
                                        else
                                        {
                                            <img src="~/images/en.png">
                                        }
                                        @language.Name
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            }
        </nav>
    </div>
</header>
