
@{
    var websiteSetting = ViewBag.WebsiteSetting as WebsiteSetting;
}
<header id="header">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand">
                    <img src="~/images/event-register/logo.png" alt="@websiteSetting?.Brand" />
                </a>
            </div>
            <div class="navbar-collapse collapse navbar-right" id="registerMainNav">
                <ul class="nav navbar-nav">
                    <li><a id="GoToSeminars" href="#content" data-bind="css: {selected : linkHref() === '#content', selected: selectedSeminars}, click: selectedItem(0)">@Resource.Seminars</a></li>
                    <li><a id="GoToProfessional" href="#professional" data-bind="css: {selected : linkHref() === '#professional',  selected: selectedProfessional}, click: selectedItem(1)">@Resource.Professionals</a></li>
                    <li><a id="GoToContent" href="#eventContent" data-bind="css: {selected : linkHref() === '#eventContent',  selected: selectedContent}, click: selectedItem(2)">@Resource.Content</a></li>
                    <li><a id="GoTovideo" href="#video" data-bind="css: {selected : linkHref() === '#video' ,selected: selectedVideo},  click: selectedItem(3)">@Resource.Events</a></li>
                    <li><a id="GoToRegister" href="#register" data-bind="css: {selected: linkHref() === '#register',selected: selectedRegister}, click: selectedItem(4)">@Resource.Register</a></li>
                    <li style="display:none"><a href="#" data-bind="click: selectedItem(5)"></a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>
