
@{
    var websiteSetting = ViewBag.WebsiteSetting as WebsiteSetting;
}
<header id="header">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand">
                    <img src="~/images/event-register/logo.png" alt="@websiteSetting?.Brand" />
                </a>
            </div>
            <div class="navbar-collapse collapse navbar-right" id="registerMainNav">
                <ul class="nav navbar-nav">
                    <li><a id="GoToSeminars" href="#content" data-bind="css: {selected : linkHref() === '#content'}">@Resource.Seminars</a></li>
                    <li><a id="GoToProfessional" href="#professional" data-bind="css: {selected : linkHref() === '#professional'}">@Resource.Professionals</a></li>
                    <li><a id="GoTocontent" href="#eventContent" data-bind="css: {selected : linkHref() === '#eventContent'}">@Resource.Content</a></li>
                    <li><a id="GoTovideo" href="#video" data-bind="css: {selected : linkHref() === '#video'}">@Resource.Events</a></li>
                    <li><a id="GoToRegister" href="#register" data-bind="css: {selected: linkHref() === '#register'}">@Resource.Register</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>
