@model List<NewsSearchViewModel>
@{  
    var url = ViewBag.Url;
}
@if (Model != null && Model.Any())
{
    <div class="sidebar-news-detail">
        <div class="title">
            <h2>@Resource.NewsRelated</h2>
        </div>
        <div class="content">
            <ul class="list-style-none">
                @foreach (var news in Model)
                {
                    <li>
                        <div class="media">
                            <div class="media-left">
                                <a href="@($"/{news.SeoLink}.html")" title="@(string.IsNullOrEmpty(news.MetaTitle) ? news.Title : news.MetaTitle)">
                                    <img class="img-responsive lazy" data-src="@($"/image?url={(string.IsNullOrEmpty(news.FeatureImage) ? "/images/no-image.png" : $"{url}{news.FeatureImage}")}&width=108&height=72")"
                                         onerror="this.src='/images/no-image.png'"
                                         alt="@(string.IsNullOrEmpty(news.AltImage) ? news.Title : news.AltImage)" />
                                </a>
                            </div>
                            <div class="media-body">
                                <a href="@($"/{news.SeoLink}.html")" title="@(string.IsNullOrEmpty(news.MetaTitle) ? news.Title : news.MetaTitle)">@news.Title</a>
                                <p class="calendar"><i class="fa fa-calendar"></i> @news.LastUpdate?.ToString("dd/MM/yyyy")</p>
                            </div>
                        </div>
                    </li>
                }
            </ul>
        </div>
    </div>
}
